<% if (isClient) { %>
    <div class="accordion">
        <input type="checkbox" id="acc1">
        <label for="acc1" class="question">
            <h1>Quais tipos de pacotes podem ser enviados?</h1>
        </label>
        <div class="answer">
            <p>Aceitamos uma ampla variedade de pacotes, desde documentos e encomendas pequenas até cargas maiores. No entanto, algumas restrições podem se aplicar, como itens proibidos por lei ou que representem risco à segurança. Recomendamos consultar nossas políticas de envio para obter mais informações.</p>
        </div>
        <input type="checkbox" id="acc2">
        <label for="acc2" class="question">
            <h1>Qual é o prazo de entrega para as encomendas?</h1>
        </label>
        <div class="answer">
            <p>O prazo de entrega pode variar de acordo com a distância, o tipo de serviço escolhido e outros fatores. Você pode verificar os prazos estimados durante o processo de solicitação de entrega.</p>
        </div>
        <input type="checkbox" id="acc3">
        <label for="acc3" class="question">
            <h1>Como acompanho o status da minha entrega?</h1>
        </label>
        <div class="answer">
            <p>Você pode acompanhar o status da sua entrega em tempo real por meio do nosso sistema de rastreamento. Basta ir a sua página de "Sou cliente", ir a página de "Minhas entregas", e verificar as atualizações sobre o progresso da entrega.</p>
        </div>
        <input type="checkbox" id="acc4">
        <label for="acc4" class="question">
            <h1>Como são calculados os preços das entregas?</h1>
        </label>
        <div class="answer">
            <p>Os preços das entregas podem variar de acordo com a distância, tamanho e peso do pacote, além do serviço escolhido. Nossos preços são calculados com base em critérios objetivos, e você pode obter uma estimativa do valor durante o processo de solicitação de entrega.</p>
        </div>
        <input type="checkbox" id="acc5">
        <label for="acc5" class="question">
            <h1>Como posso entrar em contato com o suporte ao cliente?</h1>
        </label>
        <div class="answer">
            <p>Você pode entrar em contato nas páginas fale conosco ou central de ajuda. Estamos disponíveis para ajudar com dúvidas, informações sobre as entregas e qualquer outra necessidade que você possa ter.</p>
        </div>
    </div>
<% } else { %>
    <div class="accordion">
        <input type="checkbox" id="accS1">
        <label for="accS1" class="question">
            <h1>Quais são os requisitos para me tornar um entregador?</h1>
        </label>
        <div class="answer">
            <p>Para se tornar um entregador conosco, você precisa ter um veículo (moto, carro, van, caminhão) em boas condições, possuir uma carteira de motorista válida, ser maior de idade e ter disponibilidade para atender aos pedidos de entrega. Além disso, é necessário preencher nosso formulário de cadastro, enviar a documentação necessária e passar por uma avaliação do perfil.</p>
        </div>
        <input type="checkbox" id="accS2">
        <label for="accS2" class="question">
            <h1>E se der algum problema durante uma entrega?</h1>
        </label>
        <div class="answer">
            <p>Nós oferecemos suporte completo aos nossos entregadores. Se você tiver algum problema durante uma entrega, como um endereço incorreto, item danificado ou outra situação, você poderá entrar em contato conosco por meio de nosso suporte ao cliente. Estamos sempre disponíveis para ajudar a resolver qualquer problema que possa surgir durante suas entregas.</p>
        </div>
        <input type="checkbox" id="accS3">
        <label for="accS3" class="question">
            <h1>Quanto posso ganhar como entregador?</h1>
        </label>
        <div class="answer">
            <p>Como entregador, você tem a oportunidade de ganhar dinheiro extra com base no número de entregas que realizar. A remuneração pode variar dependendo do tipo de entrega, distância percorrida, tempo de espera e outras variáveis. Nós oferecemos uma remuneração competitiva e transparente, para que você possa ganhar de acordo com seu esforço e dedicação.</p>
        </div>
        <input type="checkbox" id="accS4">
        <label for="accS4" class="question">
            <h1>Como são calculados os preços das entregas?</h1>
        </label>
        <div class="answer">
            <p>Os preços das entregas podem variar de acordo com a distância, tamanho e peso do pacote, além do serviço escolhido. Nossos preços são calculados com base em critérios objetivos, e você pode obter uma estimativa do valor durante o processo de solicitação de entrega.</p>
        </div>
        <input type="checkbox" id="accS5">
        <label for="accS5" class="question">
            <h1>Como posso entrar em contato com o suporte ao entregador?</h1>
        </label>
        <div class="answer">
            <p>Você pode entrar em contato nas páginas fale conosco ou central de ajuda. Estamos disponíveis para ajudar com dúvidas, informações sobre as entregas e qualquer outra necessidade que você possa ter.</p>
        </div>
    </div>
<% } %>