<% if (isClient) { %>
    <h1 class="heading">Rapidez e conveniência para suas <span>entregas</span></h1>
    <p class="paragraph">Deixe-nos cuidar das suas entregas para você focar no que é importante</p>
    <section class="cards-container">
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/client/card-icon-1.svg" alt="">
            </figure>
            <h1>Escolha o entregador que você deseja</h1>
            <p>Contrate o melhor entregador e o melhor meio de transporte para levar o seu item.</p>
        </article>
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/client/card-icon-2.svg" alt="">
            </figure>
            <h1>Converse com o entregador escolhido</h1>
            <p>Desse jeito você pode combinar e tirar suas dúvidas sobre a entrega, tornando ela a mais agradável possível.
            </p>
        </article>
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/client/card-icon-3.svg" alt="">
            </figure>
            <h1>Acompanhe seu pacote em tempo real</h1>
            <p>Veja você mesmo todo o trajeto do entregador até o seu destino, tudo isso em tempo real.</p>
        </article>
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/client/card-icon-4.svg" alt="">
            </figure>
            <h1>Veja sua entrega sendo recebida ao seu destino</h1>
            <p>Prontinho! Sua entrega chegou ao seu destino com aquela qualidade fretus, que você merece.</p>
        </article>
    </section>
<% } else { %>
    <h1 class="heading">Ganhe dinheiro com <span>liberdade e flexibilidade</span></h1>
    <p class="paragraph">Escolha seus horários de trabalho e seja seu próprio chefe</p>
    <section class="cards-container">
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/shipper/card-icon-1.svg" alt="">
            </figure>
            <h1>Crie a sua conta e comprove seus documentos</h1>
            <p>Após você criar sua conta, nós iremos solicitar seus documentos (CNH)</p>
        </article>
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/shipper/card-icon-2.svg" alt="">
            </figure>
            <h1>Personalize o seu perfil para atrair mais clientes</h1>
            <p>Desse jeito você chamará mais atenção dos clientes, e consequentemente receberá mais entregas.</p>
        </article>
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/shipper/card-icon-3.svg" alt="">
            </figure>
            <h1>Converse com o cliente para acertar a entrega</h1>
            <p>Combine a entrega de modo que nem você, nem o cliente, saiam insatisfeitos.</p>
        </article>
        <article class="card">
            <figure class="img">
                <img src="/imgs/home/shipper/card-icon-4.svg" alt="">
            </figure>
            <h1>Realize a entrega como foi planejada</h1>
            <p>Depois de realizar a entrega, espere a avaliação do cliente, e se esforce para que ela seja positiva!</p>
        </article>
    </section>
<% } %>