<% if (isClient) { %>
    <h1 class="heading">Alguns depoimentos de clientes</h1>
    <section class="carousel">
        <section class="content">
            <article class="card">
                <figure class="photo">
                    <img src="/imgs/home/client/carousel-photos-3.jpg" alt="">
                </figure>
                <figcaption class="text">
                    <p class="paragraph">Estava com um problema com um motoboy do meu restaurante. Ainda bem que a Fretus conseguiu me ajudar. A entrega do meu pedido foi muito rápida e eficiente.</p>
                    <h1>Juliana | Dona de Restaurante</h1>
                </figcaption>
            </article>
            <article class="card">
                <figure class="photo">
                    <img src="/imgs/home/client/carousel-photos-2.jpg" alt="">
                </figure>
                <figcaption class="text">
                    <p class="paragraph">Estava com receio de enviar um produto frágil e delicado. O entregador foi muito atencioso e cuidadoso, garantindo que o produto chegasse em perfeitas condições.</p>
                    <h1>Fernando</h1>
                </figcaption>
            </article>
            <article class="card">
                <figure class="photo">
                    <img src="/imgs/home/client/carousel-photos-1.jpg" alt="">
                </figure>
                <figcaption class="text">
                    <p class="paragraph">Eu precisava enviar uma encomenda urgente para um cliente. O entregador chegou no horário combinado e entregou o pacote muito rápido.</p>
                    <h1>Ana | Pequena Empresária</h1>
                </figcaption>
            </article>
        </section>
    </section>
    <form class="controls">
        <input type="radio" checked name="control" id="a1" data-index="0">
        <label for="a1"></label>
        <input type="radio" name="control" id="a2" data-index="1">
        <label for="a2"></label>
        <input type="radio" name="control" id="a3" data-index="2">
        <label for="a3"></label>
    </form>
<% } else { %>
    <h1 class="heading">Alguns depoimentos de entregadores</h1>
    <section class="carousel">
        <section class="content">
            <article class="card">
                <figure class="photo">
                    <img src="/imgs/home/shipper/carousel-photo-1.jpg" alt="">
                </figure>
                <figcaption class="text">
                    <p class="paragraph">Trabalhar como entregador nesse site tem sido uma oportunidade incrível para mim. Eu posso organizar meu próprio horário de trabalho, o que me permite ter mais tempo para mim. A plataforma é fácil de usar e eficiente.</p>
                    <h1>Carlos, entregador há 3 meses</h1>
                </figcaption>
            </article>
            <article class="card">
                <figure class="photo">
                    <img src="/imgs/home/shipper/carousel-photo-2.jpg" alt="">
                </figure>
                <figcaption class="text">
                    <p class="paragraph">Ser entregadora nesse site tem sido uma experiência fantástica! Eu adoro a flexibilidade que tenho para aceitar e realizar as entregas de acordo com minha disponibilidade.</p>
                    <h1>Maria, entregadora há 1 ano</h1>
                </figcaption>
            </article>
            <article class="card">
                <figure class="photo">
                    <img src="/imgs/home/shipper/carousel-photo-3.jpg" alt="">
                </figure>
                <figcaption class="text">
                    <p class="paragraph">A plataforma me oferece todas as ferramentas necessárias para realizar as entregas de forma eficiente. A transparência nas informações sobre as entregas e remuneração é excepcional.</p>
                    <h1>José, entregador há 6 meses</h1>
                </figcaption>
            </article>
        </section>
    </section>
    <form class="controls">
        <input type="radio" checked name="controlShipper" id="b1" data-index="0">
        <label for="b1"></label>
        <input type="radio" name="controlShipper" id="b2" data-index="1">
        <label for="b2"></label>
        <input type="radio" name="controlShipper" id="b3" data-index="2">
        <label for="b3"></label>
    </form>
<% } %>