<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-adm.ejs') %>
    
</head>
<body>

    <%- include('../../partial/adm/sidebar.ejs') %>
    

    <script src="/JS/adm/sidebar.js"></script>
</body>
</html>