<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin - cadastro </title>
    <%- include('../../partial/config/config.ejs') %>
        <%- include('../../partial/config/config-adm.ejs') %>
            <link rel="stylesheet" href="/CSS/adm/cadastroadm.css">

</head>

<body>

    <%- include('../../partial/adm/sidebar.ejs') %>
        <main>
            <section class="h1_conteiner">
                <h1>Página de administração de cadastro</h1>
            </section>

            <section class="container_cads">
                <a href="/">
                    <section class="container_box ">

                        <img src="/imgs/adm/incon_people.svg" alt="">
                        <h1>Usuário cadastro - cliente </h1>

                    </section>
                </a>
                <a href="/">
                    <section class="container_box">

                        <img src="/imgs/adm/incon_people.svg" alt="">
                        <h1>Usuário cadastro - Entregador </h1>
                    </section>
                </a>
                <a href="/">
                    <section class="container_box">
                        <img src="/imgs/adm/iconplu.svg" alt="">
                        <h1> Criar um novo Usuário </h1>
                    </section>
                </a>
            </section>
        </main>
        <script src="/JS/adm/sidebar.js"></script>
</body>

</html>