.config-container > h1 {
    margin-bottom: 13px;
}

.config-container > p {
    margin-bottom: 50px;
}

.config-container > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.row > span {
    font-size: 28px;
    font-weight: 700;
}

.row > input {
    display: none;
}

.row > .toogle {
    width: 48px;
    height: 24px;
    background-color: white;
    border: solid 1px #DDDDDC;
    border-radius: 15px;
    transition: all .3s;
    cursor: pointer;
}

.toogle > .ball {
    width: 50%;
    height: 100%;
    background-color: white;
    border: solid 1px #DDDDDC;
    border-radius: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    transition: all .3s;
}

.row > input:checked + .toogle {
    background-color: var(--orange);
}

.row > input:checked + .toogle > .ball {
    border: solid 1px #ef9652;
    transform: translateX(100%);
}