.config-container > h1 {
    margin-bottom: 13px;
}

.row > input {
    display: none;
}

.row > label {
    display: flex;
    align-items: center;
}

.row > label > span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 20px;
    color: var(--orange);
    transition: all .3s;
}

.row > input:checked + label > span {
    transform: rotate(90deg);
}

.row > input + label + .content {
    height: 0;
    overflow: hidden;
}

.row > input:checked + label + .content {
    height: 100%;
}