body {
    background-image: var(--gray-gradient);
    color: #333;
    min-height: 100vh;
}

main {
    padding-top: 50px;
   /*  display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 120rem;
    margin: 0 auto;
    padding: 50px 9rem;
}
.flex{
    display: flex;
}
.containerFlex{
  /*   border: 1px solid red ; */
    display: flex;
}
.contanerRow{
    display: flex;
    justify-content: space-between;
   /*  border: 1px solid orange; */
    width: 100%;
    padding: 20px 25px;
}
.form-perfil{
    max-width: 60%;
    width: 100%;
}
.aside-profile{
    /* border: 1px solid green ; */
}
.box-info-profile{
    /* border: 1px solid pink; */
}
#form-perfil-box{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
    margin-top: 20px;    
}

@media(max-width: 1452px){
   /*  main{
        padding: 50px 6rem ;
    } */
    .contanerRow{
        flex-direction: column;
        justify-content: inherit;
    }
}