body {
    background-image: var(--gray-gradient);
    color: #333;
    min-height: 100vh;
    /* height: 100%; */
}
 
main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
   
    /*  max-width: 120rem;
    margin: 0 auto;
    padding: 50px 7rem; */
    position: relative;
   /*  border: 1px red solid ; */
}
.profile-container{
    width: 100%;
    padding: 0 7rem;
  /*   border: 1px solid pink; */
}
.flex{
    display: flex;
}
.containerFlex{
  /*   border: 1px solid red ; */
    display: flex;
}
.contanerRow{
    display: flex;
    justify-content: space-between;
   /*  border: 1px solid orange; */
    width: 100%;
    padding: 20px 25px;
    width: 100%;
    height: fit-content;
    /* flex-wrap: wrap;  */
}
.form-perfil{
    max-width: 60%;
    width: 100%;
}
 
#form-perfil-box{
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
    margin-top: 20px;    
}
.ContainerEntregafav{
    position: absolute;
    top: 13rem;
    left: 27.5rem;
}
.input-box-profile{
    font-size: 2rem;
}
.input-field{
    font-size: 20px;
}
.LabelBox{
    font-size: 18px !important;
}
.input-font-profile{
    font-size: 2rem !important;
}
.font-rpofile-fav{
    font-size: 32px ;
}
.font-profile-span{
    font-size: 1.4rem;
 
}
.Box-fav-item,.Box-fav-itemEnt {
    background-color: #fff;
    /* background-color: #f0f0f0; */
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    max-height: 25vh;
    min-width: 30vw;
    max-width: 30vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.favorito-item{
    border-radius: 3px;
    display: flex;
    padding: 10px;
    gap: 10px;
   /*  align-items: ce; */
}
.favorito-item img{
    width: 50px;
    /* border-radius: 50%; */
    height: 50px;
 
}
 
@media(max-width:1510px){
    .font-profile-span{
        font-size: 1.2rem;
    }
    .profile-container{
        padding: 0 3.5rem;
    }
    .ContainerEntregafav{
        position: absolute;
        top: 13rem;
        left: 24rem;
    }
}
@media(max-width:1275px){
    .font-profile-span{
        font-size: 1rem;
    }
    .font-rpofile-fav{
        font-size: 20px;
    }
}
@media(max-width: 1150px){
    .contanerRow{
       flex-direction: column;
    }
    .ContainerEntregafav{
        position: absolute;
        top: 16rem;
        left: 24rem;
    }
    .form-perfil{
        max-width: 100%;
    }
    .row textarea{
        min-height: inherit;
       
    }
    .favorito-item p {
        font-size: .75rem;
    }
 
}
@media(max-width:830px){
    body{
        min-height: 130vh;
    }
    .ContainerEntregafav {
        position: absolute;
        top: 27rem;
        left: 3.5rem;
        margin-top: auto;
      /*   padding: inherit; */
    }
    .Box-fav-item {
        min-width: 260px;
    }
    .Positionfav{
        position: absolute;
        top: 11rem;
        margin-top: auto;
    }
    /* -------------Teste---------- */
    .img-container img{
        max-height: inherit;

    }
   .img-container .photo {
    max-width: 160px;
    height: 160px;
   }
   .img-container{
    width: 213px;
    aspect-ratio:5/4;
    /* display: flex;
    justify-content: center;
    align-items: center; */

   }
   .contanerRow{
    padding: 20px 0;
   }
}
@media(max-width:630px){
    .contanerRow{
        padding: 10px 0;
    }
    .profile-container{
        padding: 0 2rem;
    }
    .ContainerEntregafav{
        left: 2rem;
    }
}