.disable-form .changeCall {
    display: none;
}

.error {
    display: block;
    margin-top: 10px;
    color: red;
}

.changeCall {
    cursor: pointer;
    opacity: .6;
}

.changeCall:hover {
    opacity: 1;
}

.img-container {
    width: 300px;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}

.img-container .photo {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.img-container .update-img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    transition: all .5s;
}

.img-container:hover .update-img {
    bottom: 0;
}

.img-container .input-foto {
    display: none;
}

.img-container .label-foto {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
}

.img-container .label-text {
    display: block;
    padding: 5px;
    width: 100%;
    background-color: #333;
    color: white;
    font-weight: 700;
    text-align: center;
}

select[disabled] {
    border: none;
    padding: 0;
    opacity: 1;
    cursor: text;
    color: #333;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select[disabled]::-ms-expand {
    display: none;
}

.row textarea {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    font-family: var(--font-2);
    background-color: transparent;
    color: #333;
}

.edit-row > .input-container {
    width: 100%;
    height: fit-content;
}

.edit-row textarea ~ .btn {
    height: 40%;
}

.edit-row textarea + span {
    font-size: 13px;
    width: 78px;
    color: #333;
    align-self: flex-end;
    display: none;
}

.edit-row > .input-container.edit textarea + span {
    display: block;
}

/* .profile-container {
    width: min(750px, 90%);
    padding: 40px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
} */

/* .img-container img {
    max-height: 300px;
    object-fit: contain;
    border-radius: 7px;
    width: fit-content;
    display: block;
    margin: 18px auto;
}

.input-foto {
    display: none;
}

.label-foto {
    display: block;
    width: fit-content;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--orange);
    margin: auto;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all .3s;
}

.label-foto:hover {
    text-decoration: underline;
    color: chocolate;
}

.disable-form .botaoDisponivel {
    margin-top: 30px;
}

.profile-container > * {
    width: 100%;
    margin-bottom: 11px;
}

.row textarea {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    font-family: var(--font-2);
    color: #333;
}

.edit-row > .input-container {
    width: 100%;
    height: fit-content;
}

.edit-row input[type="number"] {
    width: 75px
}

.edit-row textarea ~ .btn {
    height: 40%;
}

.edit-row textarea + span {
    font-size: 13px;
    width: 78px;
    color: #333;
    align-self: flex-end;
    display: none;
}

.edit-row > .input-container.edit textarea + span {
    display: block;
}

footer{
    padding: 25px; 
} */

/* .row-toogle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
}

.row-toogle .info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.row-toogle .status-online {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #24C46A;
}

.row-toogle .status-online.offline {
    background-color: #c42424;
}

.row-toogle > input[type="checkbox"] {
    display: none;
}

.row-toogle > .toogle {
    display: block;
    width: 48px;
    height: 24px;
    background-color: white;
    border: solid 1px #DDDDDC;
    border-radius: 15px;
    transition: all .3s;
    cursor: pointer;
}

.toogle > .ball {
    width: 50%;
    height: 100%;
    background-color: white;
    border: solid 1px #DDDDDC;
    border-radius: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    transition: all .3s;
}

.row-toogle > input[value="2"] + .toogle {
    background-color: var(--orange);
}

.row-toogle > input[value="2"] + .toogle > .ball {
    border: solid 1px #ef9652;
    transform: translateX(100%);
} */