body {
    background-image: var(--gray-gradient);
    min-height: 100vh;
    color: #333;
}

main {
    padding-top: 50px;
}

.profile-container {
    width: min(750px, 90%);
    padding: 40px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
}

.disable-form .changeCall {
    display: none;
}

/* .disable-form .profile__image {
    top: 20px;
} */

.input-foto {
    display: none;
}

.label-foto {
    display: block;
    width: fit-content;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--orange);
    margin: auto;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all .3s;
}

.label-foto:hover {
    text-decoration: underline;
    color: chocolate;
}

.disable-form .botaoDisponivel {
    margin-top: 30px;
}

select[disabled] {
    border: none;
    padding: 0;
    opacity: 1;
    cursor: text;
    color: #333;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* For IE10 */
select[disabled]::-ms-expand {
    display: none;
}

.profile-container > * {
    width: 100%;
    margin-bottom: 11px;
}

.row textarea {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    font-family: var(--font-2);
    color: #333;
}

.edit-row > .input-container {
    width: 100%;
    height: fit-content;
}

.edit-row input[type="number"] {
    width: 75px
}

.edit-row textarea ~ .btn {
    height: 40%;
}

.edit-row textarea + span {
    font-size: 13px;
    width: 78px;
    color: #333;
    align-self: flex-end;
    display: none;
}

.edit-row > .input-container.edit textarea + span {
    display: block;
}

footer{
    padding: 25px; 
}

/* botao toggle */
.row-toogle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
}

.row-toogle .info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.row-toogle .status-online {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #24C46A;
}

.row-toogle .status-online.offline {
    background-color: #c42424;
}

.row-toogle > input[type="checkbox"] {
    display: none;
}

.row-toogle > .toogle {
    display: block;
    width: 48px;
    height: 24px;
    background-color: white;
    border: solid 1px #DDDDDC;
    border-radius: 15px;
    transition: all .3s;
    cursor: pointer;
}

.toogle > .ball {
    width: 50%;
    height: 100%;
    background-color: white;
    border: solid 1px #DDDDDC;
    border-radius: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    transition: all .3s;
}

.row-toogle > input[value="2"] + .toogle {
    background-color: var(--orange);
}

.row-toogle > input[value="2"] + .toogle > .ball {
    border: solid 1px #ef9652;
    transform: translateX(100%);
}

/* periodo */
input[type="time"] {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(184, 175, 175, 0.596);
    height: 40px;
    width: 120px;
    font-size: 20px;
}

.edit-periodo {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.edit-periodo span {
    font-size: 20px;
}

@media(max-width:407px) {
    .edit-periodo {
        display: flex;
        flex-direction: column;
    }

    .edit-periodo span {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20%;
    }
}

.error {
    display: block;
    margin-top: 10px;
    color: red;
}