@media(max-width:1510px){
    .font-profile-span{
        font-size: 1.2rem;
    }
    .profile-container{
        padding: 0 3.5rem;
    }
    .ContainerEntregafav{
        position: absolute;
        top: 13rem;
        left: 24rem;
    }
}
@media(max-width:1275px){
    .font-profile-span{
        font-size: 1rem;
    }
    .font-rpofile-fav{
        font-size: 20px;
    }
}
@media(max-width: 1150px){
    .contanerRow{
       flex-direction: column;
    }
    .ContainerEntregafav{
        position: absolute;
        top: 16rem;
        left: 24rem;
    }
    .form-perfil{
        max-width: 100%;
    }
    .row textarea{
        min-height: inherit;
       
    }
    .favorito-item p , .avaliacao-item p{
        font-size: .75rem;
    }
 
}
@media(max-width:830px){
    body{
        min-height: 130vh;
    }
    .ContainerEntregafav {
        position: absolute;
        top: 27rem;
        left: 3.5rem;
        margin-top: auto;
    }
    .Box-fav-item {
        min-width: 260px;
    }
    .Positionfav{
        position: absolute;
        top: 11rem;
        margin-top: auto;
    }
    .img-container img{
        max-height: inherit;

    }
   .img-container .photo {
    max-width: 160px;
    height: 160px;
   }
   .img-container{
    width: 213px;
    aspect-ratio:5/4;

   }
   .contanerRow{
    padding: 20px 0;
   }

/* ------------------------------------------------ */

   .edit-row input:not(.btn) {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--font-2);
    font-size: 20px;
    color: #333;
}

.edit-row .btn {
    display: none;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    font-family: var(--font-2);
    color: var(--orange);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

}
@media(max-width:630px){
    .contanerRow{
        padding: 10px 0;
    }
    .profile-container{
        padding: 0 2rem;
    }
    .ContainerEntregafav{
        left: 2rem;
    }
}
@media(max-width:550px){
    .input-font-profile{
        font-size: 1.5rem !important;
    }
    .font-desc{
        font-size: 1rem !important;
    }
    .font-profile-span{
        font-size: .8rem;
    }
}
@media(max-width: 490px){
    .LabelBox {
        font-size: 15px !important;
    }
    .font-h1-desc{
        font-size: 1.2rem;
    }
    .font-input{
        font-size: 1rem !important;
    }
    .img-container {
        width: 175px;
    }
    .img-container .photo {
        max-width: 140px;
        height: 140px;
    }
    .img-container {
        width: 177px;
    }
    .ContainerEntregafav {
        top: 23.5rem;
    }
}
@media(max-width:455px){
    .img-container .photo{
        max-width: 100px;
        height: 100px;
    }
    .img-container {
        width: 125px;
    }
    .font-input {
        font-size: .7rem !important;
    }
    .changeCall{
        width: 15px;
    }
    .column-gap{
        column-gap: inherit !important;
    }
    .profile-container {
        padding: 0 1.5rem;
    }
    .ContainerEntregafav {
        top: 20.5rem;
        left: 1.5rem;
       
    }
    .font-h2{
        font-size: 1.2rem;
    }
}
@media(max-width:387px){
    .contanerRow {
        padding: 5px 0;
    }
      .contanerRow {
        padding: 10px 0;
    }
    .font-profile-span {
        font-size: .6rem;
    }
    .font-desc {
        font-size: .8rem !important;
    }
    .profile-container {
        padding: 0 .9rem;
    }
    .ContainerEntregafav {
        left: 1rem;
    }
    select {
        margin: 8px 5px;
    }

}
@media(max-width:340px){
    .input-font-profile {
        font-size: 1.2rem !important;
    }
    .Positionfav {
        top: 11rem;
      
    }
    .LabelBox {
        font-size: 13px !important;

    }

}