main {
    padding-bottom: 45px;
    width: 90%;
    margin: 0 auto;
}

.shipper-wrapper {
    margin: 45px auto 0;
}

.head h1 {
    color: #333;
    font-family: var(--font-1);
    font-size: 24px;
}

.shipper-wrapper .content {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 15px;
    color: #333;
}

.shipper-wrapper .shipper {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 415px;
    padding: 15px;
    border-radius: 5px;
}

.shipper .photo {
    width: min(250px, 100%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    object-fit: cover;
}

.shipper .name {
    font-size: 24px;
}

.shipper .description {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.shipper .actions {
    display: flex;
    flex-grow: 1;
    gap: 7px;
    justify-content: end;
    align-items: end;
}

.actions form {
    height: 30px;
}

.actions .accept-btn {
    all: unset;
}

.actions img {
    width: 30px;
    height: 30px;
    display: block;
    opacity: .6;
    cursor: pointer;
}

.actions img:hover {
    opacity: .85;
}