.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-img {
    width: min(80%, 300px);
    opacity: .45;
    margin-bottom: 30px;
}

.error-msg {
    width: 450px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    opacity: .45;
}