/* POP-UP */

body {
    position: relative;
}

.popup {
    display: none;
}

.popup.show {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

.popup .popup-content {
    background-color: white;
    color: #333;
    width: min(90%, 705px);
    max-height: 90%;
    padding: 25px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.popup .close {
    position: absolute;
    top: -5px;
    left: -10px;
    background-color: var(--orange);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup .close img {
    filter: invert();
}

.popup .popup-wrapper {
    min-height: fit-content;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.popup h1 {
    font-size: 28px;
}

.popup .cta {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

/* PAY POPUP */

.popup.show .input-field, .popup.show .payment-method {
    outline: none;
    width: 100%;
    padding: 8px;
    color: #333;
    border: solid 1px rgba(51, 51, 51, 0.18);
    border-radius: 5px;
    font-family: var(--font-2);
    font-size: 16px;
}

.popup.show .input-field:focus {
    border-color: #3333336c;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1000000;
}

.file-field {
    background-color: #FEEFE8;
    color: #FF8750;
    border: dashed 2px;
    border-radius: 5px;
    height: 56px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: all .3s;
}

.file-field:hover, .file-field:focus {
    color: #bb440c;
}

.file-field .icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #FFE4D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup textarea {
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.25);
    resize: none;
    min-height: 125px;
    border-radius: 5px;
    padding: 8px;
    font-family: var(--font-2);
    font-size: 16px;
}

/* POPUP INFO */

.popup-wrapper p {
    font-family: var(--font-2);
}

.title-type {
    font-weight: 700;
    font-family: var(--font-1);
}

/* todo: tela de carregamento  de carregamento  */

.loader-container {
    display: flex;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999; 
    justify-content: center;
    align-items: center;
}

.loader-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: relative;
}

.loader-content .close {
    position: absolute;
    top: -5px;
    left: -10px;
    background-color: var(--orange);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loader-content .close img {
    filter: invert();
}

.loader {
    border: 4px solid var(--orange);
    border-top: 4px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-bottom: 10px; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-message {
    font-size: 18px; 
    margin: 0; 
    color: #333; 
}


