.form .vehicles-container,
.form .weight-container {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.vehicles-container .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.weight-container .content {
    width: 100%;
    height: 150px;
    display: flex;
    column-gap: 15px;
}

.weight-container .content>label {
    flex-grow: 1;
    width: calc(100% / 4);
}


.content>input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -100;
    left: 50%;
    bottom: 0;
}

.vehicles-container .content>label {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    text-align: center;
}

.content .card {
    background-color: white;
    color: #333;
    width: 100%;
    height: 100%;
    padding: 20px 5px;
    border: solid transparent;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
}
.carga_box{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin-top: 5px;
    text-align: center;
}

.content>input:checked+label>.card {
    border: solid var(--orange);
}

.card h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.card img {
    width: 45px;
}

@media(max-width: 1406px){
    .carga_box{
        font-size: 0.7rem; 
        padding: 0;
    
    }
    .content .card {
        gap:5px;

    }
}
@media(max-width: 975px){
    .carga_box{
        font-size: 0.8rem; 
        padding: 0 10px;
        margin-top: 15px;

    }
    .content .card{
        display: block;
        text-align: left;
        margin-bottom: 30px;
    }
    .box-card-car{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media (max-width: 550px) {
    .vehicles-container .content>label {
        flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }

    .carga_box{
        font-size: 0.65rem; 
        padding: 0;
    }
}