.location .popup-content {
    padding: 0;
}

.location .close {
    z-index: 1000;
}

.location .map-container {
    width: 100%;
}

.location #map {
    height: 350px;
    border-radius: 7px;
}

.location-info {
    padding: 0 25px 25px;
   
}
.location_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;

}
.location_box button {
    padding: 17px 40px;
    border-radius: 30px;
    color: #fff;
    background-color: #EF9652;
    border: none;
    font-size: 1rem;
}
.container_bar_count{
    width: 100%;
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.container_bar_count .count1 {
    background-color: #EF9652 !important;
}

.container_bar_count .bar_count{
    width: 25%;
    background-color: #FFE4D9;
    height: 0.4rem;
    border-radius: 10px;
    margin: 0 2px;

}
.chat_entrega{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;    
}
.chat_entrega a {
    display: block;
    width: 100%;
}

.chat_entrega .img_chat{
    background-color: #EF9652;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_entrega img{
    width: 30px;
    
}

/* =================descrição============== */
.container {
    padding: 20px 0;
}

.descricao { 
    padding: 10px 10px 0 10px ;
    cursor: pointer;
}
.descricao .icon_s{
    margin-left: 5px;
}

.itens {
    display: none;
    padding: 8px 10px;

}

.itens ul {
    list-style: none;
}
.menu-container{
    
    height: 100%;

}
.menu-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}
.color{
    background-color: #EF9652 !important;
}
.y-line{
    width: 20px;
    height: 20px;
    background-color: hsl(26, 83%, 63%, .4);
    border-radius: 2px;
    margin:  20px 12px;
}
.x-line{
    width: 45px ;
    height: 0.02rem ;
    background-color: hsl(26, 83%, 63%, .4);
    transform: rotate(90deg);
    margin: 4px 0;
    border-radius: 10px;
}
.conatainer_text{
    margin: 22px 0 0px 20px;
    padding: 0 20px 0 20px;
    position: absolute;
    height: 40px;
    width: 100%;
}
.box_text{
    margin-bottom: 6px ;
    display: flex;
    justify-content: space-between;
}
.box_text span {
    font-size: 10px;
}
/* =================descrição============== */

