.payment-container {
    width: min(685px, 90%);
    margin: 60px auto 0;
    color: #333;
}

.payment-container .info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.payment-container .profile-picture {
    width: 160px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.payment-container .description {
    padding-top: 15px;
}

.payment-container .name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.payment-container .capitalize {
    text-transform: capitalize;
}

.payment-container .total {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
}

.payment-container .pay-btn {
    margin: 0;
    margin-top: 36px;
    font-size: 18px;
    width: min(260px, 75%);
}

.error-alert {
    display: block;
    width: fit-content;
    opacity: .25;
    margin: 100px auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.error-alert img {
    max-width: 250px;
    aspect-ratio: 1/1;
    margin-bottom: 30px;
}

.error-alert p {
    max-width: 700px;
}