:root {
    --star-form: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.popup .stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.stars > .star {
    width: min(50%, 75px);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.star > .star-form {
    height: 100%;
    clip-path: var(--star-form);
    transition: all .3s;
    background-color: var(--gray);
}

.star.checked > .star-form,
.star.checked:hover > .star-form,
.star.checked:hover ~ * > .star-form {
    background-color: var(--orange);
}

.star:hover > .star-form, 
.star:hover ~ * > .star-form {
    background-color: var(--orange);
}

.rate-field.error {
    border-color: red;
}

.popup span.error-container {
    display: none;
}

.popup .error-container.show {
    display: block;
    color: red;
}

.sn-notifications-container {
    z-index: 100000000 !important;
}