main {
    width: 100vw;
    padding: 50px;
    color: #333;
    max-height: 100vh;
    overflow: auto;
}

.boxDados {
    font-size: 1.2rem;

}

.LinkUser a {
    color: #333;
    font-size: 1.3rem;
}

.LinkUser a:hover {
    cursor: pointer;
    text-decoration: underline;

}

.DadosUserIMG {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background: linear-gradient(to right, yellow, green);
    min-height: 100px;

}

.containerDetealhes {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.DadosUser p {
    margin: 20px 8px;
}

.LinkUser {
    margin-bottom: 15px;
}

.Header_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Header_container .name_user {
    font-size: 2rem;
    font-weight: bolder;
}

.DocumentoUserEnt h1 {
    margin: 10px 5px;
    font-size: 2rem;
}
.flex-dadosedite{
    margin: 10px 0;
}
.inputEdite input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
}
.inputEdite input:focus{
    outline: 2px solid rgb(228, 172, 18);
}
.Box_textEditar h1{
    font-size: 2rem;
    margin: 20px 0;
}

/* Novo */

/* ====================validator============================ */

.erroForm {
    color: red;
    display: block;
    font-weight: bolder;
    width: 100%;
    padding: 10px 0 0 15px;
    font-size: 0.9rem;
}

.erroInput {
    border: solid 1px red !important;

}