body {
    background-image: url('../../imgs/login-cadastro/bg-login.svg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-1);
    color: #333;
    
}

.fretus {
    position: absolute;
    top: 25px;
    left: 25px;
}

.fretus h1 {
    width: 40px;
}

.fretus .logo {
    width: 100%;
}

.container {
    /* padding: 25px; */
    width: min(400px, 85%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px ;
}

/* .signup-container {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.signup-container > .signup-content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
} */

.container>form {
    width: 100%;
    flex-shrink: 0;
    transition: .5s;
}

.buttonsForm {
    width: 100%;
    margin-top: 10px;
    position: relative;
    border-radius: 30px;
    background-color: white;
    display: flex;
}

.buttonsForm input[type="radio"] {
    display: none;
}

.buttonsForm label {
    text-align: center;
    font-family: var(--font-1);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    z-index: 50000;
    width: 50%;
    padding: 10px 0;
    color: #333;
}

.buttonsForm input:checked+label {
    color: white;
}

.btnColor {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--orange);
    border-radius: 30px;
    transition: .3s all;
}

.buttonsForm input#tipoEntregador:checked~.btnColor {
    left: 50%;
}

input:not([type="checkbox"]) {
    border: none;
    outline: none;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 100%;
    font-family: var(--font-2);
}

button[type="submit"] {
    background: var(--orange);
    color: white;
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    font-family: var(--font-2);
}

form p {
    margin-top: 13px;
}

form p a {
    color: var(--orange);
    font-weight: 700;
}

.alternative {
    text-align: center;
    padding: 10px;
}

.alternative span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    font-size: 1.1rem;
    color: #333;
    font-weight: 400;
}

.alternative span::before,
.alternative span::after {
    content: '';
    display: block;
    height: 1px;
    width: 35%;
    background: #333;
}

.input__wrapper {
    position: relative;
}

.input__icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 30px;
}

.social-media {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: column;
}

.social-icon {
    display: flex;
    align-items: center;
    /* border: 01px solid #333; */
    width: 100%;
    justify-content: center;
    color: #333;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 2px;
}

.social-icon img {
    width: min(40px, 50%);
    padding-right: 10px;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
}

/* ====================validator============================ */

.erroForm {
    color: red;
    display: block;
    font-weight: bolder;
    width: 100%;
    padding: 10px 0 0 15px;
    font-size: 0.9rem;
}

.erroInput {
    border: solid 1px red !important;

}

/* Modal de Carregamento */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 15px;
    background-color: #fefefe;
    max-width: 400px;
    border-radius: 10px;
    margin: 18% auto;

}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid orange;
    width: 50px;
    height: 50px;
    margin: 15px 0 ; 
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* ================================================ */

@media (max-width:500px) {
    body {
        height: 125vh
    }
}