<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Configurações</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/sidebar-config.css">
    <link rel="stylesheet" href="/CSS/shipper/config.css">
</head>

<body>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient: true }) %>

    <main>
        <div class="sidebar">
            <div class="nav">
                <ul>
                    <a href="/cliente/configuracoes">
                        <li>Privacidade</li>
                    </a>
                    <a href="/cliente/configuracoes-pagamento">
                        <li>Pagamento</li>
                    </a>
                    <a href="/cliente/configuracoes-notificacoes">
                        <li>Notificações</li>
                    </a>
                </ul>
                </ul>
            </div>
            <div class="container-button">
                <button class="exit-button"><a href="/">sair da conta</a></button>
            </div> 
        </div>
        <div class="config">
            <div class="config-container">
                <div class="sidebar-burguer">
                    <img src="/imgs/burguer-config-icon.png" alt="">
                </div>
                <h1>Privacidade</h1>
                <div class="row">
                    <label for="name">Nome</label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input type="text" readonly id="name" value="Cliente 1">
                            <input type="button" class="btn" value="Cancelar">
                            <input type="button" class="btn confirm" value="Confirmar">
                        </div>
                        <span>Alterar</span>
                    </div>
                </div>
                <div class="row">
                    <label for="email">E-mail</label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input type="email" required readonly id="email" value="cliente@email.com">
                            <input type="button" class="btn" value="Cancelar">
                            <input type="button" class="btn confirm" value="Confirmar">
                        </div>
                        <span>Alterar</span>
                    </div>
                </div>
                <div class="row">
                    <label for="password">Senha</label>
                    <div class="edit-row">
                        <div class="input-container">
                            <input type="password" readonly id="password" value="Senha123">
                            <input type="button" class="btn" value="Cancelar">
                            <input type="button" class="btn confirm" value="Confirmar">
                        </div>
                        <span>Alterar</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/change.js"></script>
    <script src="/JS/shipper/burguer-config.js"></script>
</body>

</html>