<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Cupons</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/client/cupons.css">
</head>
<body>
    
    <%- include('../../partial/header-client-shipper.ejs', { isClient: true, autenticado: autenticado }) %>

    <main>
        <section class="cupons">
            <h1>Cupons</h1>
            <section class="cupon-input">
                <input placeholder="Digite o código do cupom de desconto" type="text">
                <button class="cta" type="button">Copiar</button>
            </section>
            <form class="cupons-container">
                <span class="active-cupons">
                    <h2>Ativos</h2>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                </span>
                <section class="disable-cupons">
                    <h2>Inativos</h2>
                    <header class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </header>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                    <section class="cupon">
                        <section class="content">
                            <figure class="icon">
                                <img src="/imgs/client/icon-cupon.svg" alt="">
                            </figure>
                            <summary class="description">
                                <h1>10% de desconto</h1>
                                <p>A partir de R$10,00</p>
                            </summary>
                        </section>
                        <header class="expirate">
                            <span>Vence em 22/10/2023</span>
                        </header>
                    </section>
                </section>
            </form>
        </section>
        <section class="invite-friends">
            <h1>Convide seus amigos</h1>
            <p>Convidando um amigo, você e ele ganham desconto na próxima entrega.</p>
            <section class="cupon-input">
                <input readonly type="text" value="hgq4wj7L0LwOi01KYx20">
                <button class="cta" type="button">Copiar</button>
            </section>
            <section class="social-media">
                <figure class="icon twitter">
                    <img src="/imgs/client/icon-twitter.svg" alt="">
                </figure>
                <figure class="icon facebook">
                    <img src="/imgs/client/icon-facebook.svg" alt="">
                </figure>
                <figure class="icon whatsapp">
                    <img src="/imgs/client/icon -whatsapp.svg" alt="">
                </figure>
            </section>
        </section>
    </main>

    <%- include('../../partial/menu-burguer.ejs', { type: 'client' }) %>

    <script src="/JS/burguer.js"></script>
</body>
</html>