<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/adm/FaleConoscoADM/faleconoscoadm.css">

    <%- include('../../../partial/config/config.ejs') %>
        <%- include('../../../partial/config/config-adm.ejs') %>


</head>

<body>


    <%- include('../../../partial/adm/sidebar.ejs') %>
        <main>
            <div class="MensagerBox">
                <h1>
                    Mensagens - Fale Conosco
                </h1>
            </div>
            <a href="#">
                <section class="ContainerFaleConosco">
                    <header>
                        <p class="nameUserF"><b style="font-size: 1.8rem;">Nome: </b>user</p>
                        <p><b style="font-size: 1.8rem;">Assunto: </b><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur ex mollitia labore repellendus soluta eligendi iusto in cumque eveniet, nihil expedita provident! Aut excepturi eligendi voluptas dolor quo consequuntur error.</p>
                    </header>
                    <section class="Box">
                        <p><b style="font-size: 1.8rem;">Mensager: </b><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic modi adipisci libero
                            voluptatibus
                            temporibus unde accusantium impedit provident architecto, porro amet esse molestias ipsa
                            possimus iusto
                            dignissimos quidem illo perspiciatis!</p><br>
                        
                        <section class="buttonBox">
                            <button>Responder</button>
                        </section>
                    </section>

                </section>
            </a>
        </main>

        <script src="/JS/adm/sidebar.js"></script>



</body>

</html>