<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/adm/FaleConoscoADM/faleconoscoadm.css">

    <%- include('../../../partial/config/config.ejs') %>
        <%- include('../../../partial/config/config-adm.ejs') %>

        <link rel="stylesheet" href="/CSS/adm/CadastroAdm/cadastroadm.css">


</head>

<body>


    <%- include('../../../partial/adm/sidebar.ejs') %>
        <main>
            <div class="MensagerBox">
                <h1>
                    Mensagens - Fale Conosco
                </h1>
            </div>
            


            
            
        </main>

        <script src="/JS/adm/sidebar.js"></script>



</body>

</html>