<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/adm/FaleConoscoADM/faleconoscoadm.css">

    <%- include('../../../partial/config/config.ejs') %>
        <%- include('../../../partial/config/config-adm.ejs') %>

        <link rel="stylesheet" href="/CSS/adm/CadastroAdm/cadastroadm.css">


</head>

<body>


    <%- include('../../../partial/adm/sidebar.ejs') %>
        <main>
            <div class="MensagerBox">
                <h1>
                    Mensagens - Fale Conosco
                </h1>
            </div>
            <section class="container_cads">
                <a href="#">
                    <section class="container_box ">

                        <span style="color: #333;font-size: 90px;" class="material-symbols-outlined">
                            mail
                            </span>

                        <h1>Usuário cadastro - cliente </h1>

                    </section>
                </a>
                <a href="#">
                    <section class="container_box">
                        <span style="color: #333;font-size: 90px;" class="material-symbols-outlined">
                            mail
                            </span>
                        <h1>Usuário cadastro - Entregador </h1>
                    </section>
                </a>
                
            </section>
            
        </main>

        <script src="/JS/adm/sidebar.js"></script>



</body>

</html>