<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Chat</title>
    <link rel="shortcut icon" href="../../imgs/logotca.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/index.css">
    <link rel="stylesheet" href="../../CSS/cta.css">
    <link rel="stylesheet" href="../../CSS/menu-burguer.css">
    <link rel="stylesheet" href="../../CSS/header-client-shipper.css">
    <link rel="stylesheet" href="../../CSS/shipper/sidebar-config.css">
    <link rel="stylesheet" href="../../CSS/client/chat-sidebar.css">
    <link rel="stylesheet" href="../../CSS/client/chat.css">
    <link rel="stylesheet" href="../../CSS/client/chat-msgs.css">
    <link rel="stylesheet" href="../../CSS/client/chat-msgs-typing.css">
    <link rel="stylesheet" href="../../CSS/client/chat-msgs-payment.css">
    <link rel="stylesheet" href="../../CSS/client/chat-inputs.css">
    <link rel="stylesheet" href="../../CSS/client/clip-popup.css">
    <link rel="stylesheet" href="../../CSS/client/pay-modal.css">
    <link rel="stylesheet" href="../../CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="../../CSS/client/pay-popup.css">
    <link rel="stylesheet" href="../../CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="../../CSS/client/popup-info.css">
    <link rel="stylesheet" href="../../CSS/client/pay-popup.css">
    <link rel="stylesheet" href="../../CSS/client/report-popup.css">
</head>
<body>

    <div class="menu-burguer">
        <nav>
            <ul>
                <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                <li><a href="./chat.html">Chat</a></li>
                <li><a href="./ranking.html">Ranking</a></li>
                <li><a href="./resultados.html">Resultados</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="./configuracoes.html">Configurações</a></li>
            </ul>
        </nav>
    </div>
    
    <header>
        <div class="header-content">
            <h1><a href="../../index.html"><img class="logo" src="../../imgs/logotca.png"></a></h1>
            <nav class="nav-menu">
                <ul>
                    <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                    <li><a href="./chat.html">Chat</a></li>
                    <li><a href="./ranking.html">Ranking</a></li>
                    <li><a href="./resultados.html">Resultados</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="./perfil.html">
                        <li><img src="../../imgs/client/profile-icon.svg" alt=""></li>
                    </a>
                    <a href="./configuracoes.html">
                        <li><img src="../../imgs/client/config-icon.svg" alt=""></li>
                    </a>
                </ul>
            </nav>
            <div class="burguer">
                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/homepage__mobile_/u14.svg?pageId=474e0aac-b4ee-403d-9bc0-5e2c0892e3b4" alt="">
            </div>
        </div>
    </header>

    <main>
        <div class="sidebar">
            <div class="nav">
                <div class="search-bar">
                    <div class="icon">
                        <img src="../../imgs/home/client/card-icon-1.svg" alt="">
                    </div>
                    <input placeholder="Buscar" type="text">
                </div>
                <div class="online">
                    <h1>Online Agora</h1>
                    <div class="online-users">
                        <div class="photo">
                            C
                            <span class="online-icon"></span>
                        </div>
                        <div class="photo">
                            F
                            <span class="online-icon"></span>
                        </div>
                        <div class="photo">
                            T
                            <span class="online-icon"></span>
                        </div>
                        <div class="photo">
                            P
                            <span class="online-icon"></span>
                        </div>
                    </div>
                </div>
                <ul>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>09:39 AM</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>07:43 AM</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Ontem</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Ontem</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Semana Passada</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Semana Passada</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Mês Passado</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Mês Passado</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Mês Passado</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <div class="chat-contact">
                                <div class="contact-info">
                                    <div class="photo">
                                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                    </div>
                                    <div class="contact-msg">
                                        <h1>Nome</h1>
                                        <p>Ultima mensagem</p>
                                    </div>
                                </div>
                                <div class="contact-time">
                                    <p>Mês Passado</p>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="chat">
            <div class="sidebar-burguer">
                <img src="../../imgs/burguer-config-icon.png" alt="">
            </div>
            <div class="chat-container">
                <div class="chat-header">
                    <div class="info">
                        <h1>Nome</h1>
                        <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                    </div>
                    <div class="action">
                        <button class="rounded-icon">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u202.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                        </button>
                    </div>
                </div>

                <div class="chat-msgs">
                    <div class="msgs-container">
                        <div class="msgs-content">
                            <div class="row other-msg">
                                <div class="user-icon rounded-icon">
                                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                </div>
                                <div class="msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin </div>
                            </div>
                            <div class="row my-msg">
                                <div class="user-icon rounded-icon">
                                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                </div>
                                <div class="msg">
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                            <!-- <div class="row other-msg">
                                <div class="user-icon rounded-icon">
                                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                </div>
                                <div class="msg payment">
                                    <h1>Cliente enviou uma proposta para você</h1>
                                    <span>R$50,00</span>
                                    <div class="btn-container">
                                        <button class="yes pay-call">Aceitar</button>
                                        <button class="no">Negar</button>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row other-msg">
                                <div class="user-icon rounded-icon">
                                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u195.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                                </div>
                                <div class="msg typing">
                                    <div class="ball"></div>
                                    <div class="ball"></div>
                                    <div class="ball"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clip-popup">
                        <ul>
                            <li>
                                <div class="rounded-icon">
                                    <img src="../../imgs/shipper/icon-image.svg" alt="">
                                </div>
                                <span>Fotos e Vídeos</span>
                            </li>
                            <li>
                                <div class="rounded-icon">
                                    <img src="../../imgs/shipper/icon-camera.svg" alt="">
                                </div>
                                <span>Câmera</span>
                            </li>
                            <li>
                                <div class="rounded-icon">
                                    <img src="../../imgs/shipper/icon-document.svg" alt="">
                                </div>
                                <span>Documento</span>
                            </li>
                            <!-- <li>
                                <div class="rounded-icon pay">
                                    <img src="../../imgs/shipper/icon-money.svg" alt="">
                                </div>
                                <span>Nova Proposta</span>
                            </li> -->
                        </ul>
                    </div>
                </div>

                <div class="chat-inputs">
                    <textarea rows="1" placeholder="Digite sua mensagem aqui"></textarea>
                    <div class="actions">
                        <button class="clip rounded-icon">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u208.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                        </button>
                        <button class="send rounded-icon">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_cliente__desktop_/u207.svg?pageId=a1cd8bfa-51f9-4251-8edd-b9adceed65b6" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="notification-container"></div>
    <!-- <dialog class="pay-modal">
        <div class="modal-content">
            <input class="money" placeholder="Digite aqui o valor desejado. (Apenas números)" type="text">
            <div class="btn-container">
                <button class="yes">Aceitar</button>
                <button class="no">Cancelar</button>
            </div>
        </div>
    </dialog> -->
    <!-- <div class="popup ">
        <div class="popup-content">
            <div class="close">
                <img src="../../imgs/client/close-icon.svg" alt="">
            </div>
            <form class="popup-wrapper" action="">
                <h1>Pagamento</h1>
                <div class="payment-method">
                    <div class="pix-field field">
                        <input required type="radio" name="pay-method" id="pix">
                        <label for="pix">Pix</label>
                        <div class="pay-field">
                            <input class="input-field" type="text" readonly value="123e4567-e12b-12d1">
                            <button type="button">Copiar</button>
                        </div>
                    </div>
                    <div class="card-field field">
                        <input required type="radio" name="pay-method" id="card">
                        <label for="card">Cartão</label>
                        <div class="pay-field">
                            <div class="card-input">
                                <input class="input-field card-info" minlength="16" placeholder="Número do Cartão" type="text" id="card-number">
                                <img src="../../imgs/client/card-icons/unknown.svg">
                            </div>
                            <input class="input-field card-info" minlength="5" placeholder="Validade" type="text" id="card-validity">
                            <input class="input-field card-info" placeholder="CVV" type="text" id="card-cvv">
                            <input class="input-field card-info" placeholder="Nome" type="text" id="card-name">
                        </div>
                    </div>
                </div>
                <input type="text" class="input-field" placeholder="Aplique aqui algum cupom de desconto">
                <textarea class="input-field" placeholder="Deixe uma observação ao motorista (opcional)"></textarea>
                <p class="price">Valor Total: <span>R$50,00</span></p>
                <button type="submit" class="cta">Pagar</button>
            </form>
        </div>
    </div> -->
    <div class="popup report">
        <div class="popup-content">
            <div class="close">
                <img src="../../imgs/client/close-icon.svg" alt="">
            </div>
            <div class="popup-wrapper">
                <form class="form">
                    <h1>Denúncia</h1>
                    <label class="file-field" for="report-photo">
                        <input class="field" required type="file" name="files" id="report-photo">
                        <div class="icon">
                            <img src="../../imgs/cadastro-entregador/upload-icon.svg" alt="">
                        </div>
                        <span class="msg">Foto do Ocorrido</span>
                    </label>
                    <select required class="input-field field">
                        <option value="">Motivo da Denúncia</option>
                        <option value="1">Assédio ou Comportamento inadequado</option>
                        <option value="2">Problemas de Qualidade do Serviço</option>
                        <option value="3">Violar Regras do Site</option>
                        <option value="4">Suspeita de Fraude</option>
                        <option value="Outros">Outros</option>
                    </select>
                    <input placeholder="Motivo da Denúncia" class="report-reason input-field field" type="text">
                    <input required placeholder="Data do ocorrido" class="input-field field" type="text" onfocus="this.type='date'">
                    <textarea required class="rate-field field" placeholder="Descrição do ocorrido"></textarea>
                    <button class="cta">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js" integrity="sha512-jGh38w63cHRzfBHtyKgEMMkJswUFXDA3YXrDjaE8ptzxV5DDkLDUDjtGUy5tmDkOXHWsItKfFjocaEtj1WuVnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script> -->
    <script src="../../JS/burguer.js"></script>
    <script src="../../JS/shipper/burguer-config.js"></script>
    <script src="../../JS/shipper/textarea-resize.js"></script>
    <script src="../../JS/shipper/send-msg.js"></script>
    <script src="../../JS/shipper/clip-popup.js"></script>
    <!-- <script src="../../JS/shipper/payment.js"></script>
    <script src="../../JS/shipper/allow-payment.js"></script>
    <script src="../../JS/client/pay-popup.js"></script> -->
    <script src="../../JS/shipper/report-popup.js"></script>
</body>
</html>