<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Configurações</title>
    <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>
    <link rel="stylesheet" href="/CSS/shipper/requests-modal.css">
    <link rel="stylesheet" href="/CSS/shipper/sidebar-config.css">
    <link rel="stylesheet" href="/CSS/shipper/notification-config.css">
</head>
<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>
    
    <main>
        <div class="sidebar">
            <div class="nav">
                <ul>
                    <a href="/entregador/configuracoes">
                        <li>Privacidade</li>
                    </a>
                    <a href="/entregador/configuracoes-pagamento">
                        <li>Pagamento</li>
                    </a>
                    <a href="/entregador/configuracoes-notificacoes">
                        <li>Notificações</li>
                    </a>
                </ul>
            </div>
            <div class="container-button">
                <button class="exit-button"><a href="/">sair da conta</a></button>
            </div> 
        </div>
        <div class="config">
            <div class="config-container">
                <div class="sidebar-burguer">
                    <img src="/imgs/burguer-config-icon.png" alt="">
                </div>
                <h1>Notificações</h1>
                <p>Receber notificações promocionais, descontos, institucionais e etc.</p>
                <div class="row">
                    <span>SMS</span>
                    <input checked type="checkbox" id="sms">
                    <label for="sms" class="toogle">
                        <div class="ball"></div>
                    </label>
                </div>
                <div class="row">
                    <span>E-mail</span>
                    <input checked type="checkbox" id="email">
                    <label for="email" class="toogle">
                        <div class="ball"></div>
                    </label>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %> 

    <script src="/JS/burguer.js"></script>
    <script src="/JS/shipper/change.js"></script>
    <script src="/JS/shipper/burguer-config.js"></script>
</body>
</html>