<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Entregas Solicitadas</title>

    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>

    <!-- ! ver se vai ser alterado  -->

    <link rel="stylesheet" href="/CSS/client/price-indicator.css">
    <link rel="stylesheet" href="/CSS/shipper/requests.css">
    <link rel="stylesheet" href="/CSS/shipper/empty-alert.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/popup-info.css"> 

    <!-- ! -->

</head>
<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>
    
    <main>
        <h1>Entregas Solicitadas</h1>
        <section class="requests-container">
            <article class="card">
                <section class="top">
                    <article class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </article>
                    <article class="row track">
                        <img src="/imgs/shipper/track.png" alt="">
                    </article>
                    <article class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </article>
                </section>
                <section class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </section>
                <section class="bottom">
                    <span class="price">R$51,00</span>
                    <article class="btns">
                        <button class="btn accept">
                            <img src="/imgs/shipper/check.png" alt="">
                        </button>
                        <button class="btn denied">
                            <img src="/imgs/shipper/close.svg" alt="">
                        </button>
                    </article>
                </section>
                <section class="details">
                    <span class="indicator">i</span>
                </section>
            </article>
            <article class="card">
                <section class="top">
                    <article class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </article>
                    <article class="row track">
                        <img src="/imgs/shipper/track.png" alt="">
                    </article>
                    <article class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </article>
                </section>              
            </article>
        </section>
        <article class="weight">
            <span>Pequena (até 15 Kg)</span>
        </article>
        <article class="bottom">
            <span class="price">R$25,00</span>
            <article class="btns">
                <button class="btn accept">
                    <img src="/imgs/shipper/check.png" alt="">
                </button>
                <button class="btn denied">
                    <img src="/imgs/shipper/close.svg" alt="">
                </button>
            </article>
        </article>
        <article class="details">
            <span class="indicator">i</span>
        </article>
        
        <article class="card">
            <section class="top">
                <article class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carlos José de Castilho</span>
                </article>
                <article class="row track">
                    <img src="/imgs/shipper/track.png" alt="">
                </article>
                <article class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carneiro Leão</span>
                </article>
            </section>
            <article class="weight">
                <span>Pequena (até 15 Kg)</span>
            </article>
            <article class="bottom">
                <span class="price">R$30,00</span>
                <article class="btns">
                    <button class="btn accept">
                        <img src="/imgs/shipper/check.png" alt="">
                    </button>
                    <button class="btn denied">
                        <img src="/imgs/shipper/close.svg" alt="">
                    </button>
                </article>
            </article>
            <article class="details">
                <span class="indicator">i</span>
            </article>
        </article>
        <article class="card">
            <section class="top">
                <article class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carlos José de Castilho</span>
                </article>
                <article class="row track">
                    <img src="/imgs/shipper/track.png" alt="">
                </article>
                <article class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carneiro Leão</span>
                </article>
            </section>
            <article class="weight">
                <span>Pequena (até 15 Kg)</span>
            </article>
            <article class="bottom">
                <span class="price">R$45,00</span>
                <article class="btns">
                    <button class="btn accept">
                        <img src="/imgs/shipper/check.png" alt="">
                    </button>
                    <button class="btn denied">
                        <img src="/imgs/shipper/close.svg" alt="">
                    </button>
                </article>
            </article>
            <article class="details">
                <span class="indicator">i</span>
            </article>
        </article>
        <article class="card">
            <section class="top">
                <article class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carlos José de Castilho</span>
                </article>
                <article class="row track">
                    <img src="/imgs/shipper/track.png" alt="">
                </article>
                <article class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carneiro Leão</span>
                </article>
            </section>
            <article class="weight">
                <span>Pequena (até 15 Kg)</span>
            </article>
            <article class="bottom">
                <span class="price">R$55,00</span>
                <article class="btns">
                    <button class="btn accept">
                        <img src="/imgs/shipper/check.png" alt="">
                    </button>
                    <button class="btn denied">
                        <img src="/imgs/shipper/close.svg" alt="">
                    </button>
                </article>
            </article>
            <article class="details">
                <span class="indicator">i</span>
            </article>
        </article>
        <article class="card">
            <section class="top">
                <section class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carlos José de Castilho</span>
                </section>
                <section class="row track">
                    <img src="/imgs/shipper/track.png" alt="">
                </section>
                <section class="row">
                    <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                    <span>Rua Carneiro Leão</span>
                </section>
            </section>
            <section class="weight">
                <span>Pequena (até 15 Kg)</span>
            </section>
            <section class="bottom">
                <span class="price">R$15,00</span>
                <article class="btns">
                    <button class="btn accept">
                        <img src="/imgs/shipper/check.png" alt="">
                    </button>
                    <button class="btn denied">
                        <img src="/imgs/shipper/close.svg" alt="">
                    </button>
                </article>
            </section>
            <section class="details">
                <span class="indicator">i</span>
            </section>
        </article>
        <main>
            <article class="card">
                <section class="top">
                    <section class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </section>
                    <section class="row track">
                        <img src="/imgs/shipper/track.png" alt="">
                    </section>
                    <section class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </section>
                </section>
                <section class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </section>
                <section class="bottom">
                    <span class="price">R$70,00</span>
                    <article class="btns">
                        <button class="btn accept">
                            <img src="/imgs/shipper/check.png" alt="">
                        </button>
                        <button class="btn denied">
                            <img src="/imgs/shipper/close.svg" alt="">
                        </button>
                    </article>
                </section>
                <section class="details">
                    <span class="indicator">i</span>
                </section>
            </article>
            <article class="card">
                <section class="top">
                    <section class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </section>
                    <section class="row track">
                        <img src="/imgs/shipper/track.png" alt="">
                    </section>
                    <section class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </section>
                </section>
                <section class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </section>
                <section class="bottom">
                    <span class="price">R$8,00</span>
                    <article class="btns">
                        <button class="btn accept">
                            <img src="/imgs/shipper/check.png" alt="">
                        </button>
                        <button class="btn denied">
                            <img src="/imgs/shipper/close.svg" alt="">
                        </button>
                    </article>
                </section>
                <section class="details">
                    <span class="indicator">i</span>
                </section>
            </article>
            <article class="card">
                <section class="top">
                    <section class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </section>
                    <section class="row track">
                        <img src="/imgs/shipper/track.png" alt="">
                    </section>
                    <section class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </section>
                </section>
                <section class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </section>
                <section class="bottom">
                    <span class="price">R$12,00</span>
                    <article class="btns">
                        <button class="btn accept">
                            <img src="/imgs/shipper/check.png" alt="">
                        </button>
                        <button class="btn denied">
                            <img src="/imgs/shipper/close.svg" alt="">
                        </button>
                    </article>
                </section>
                <section class="details">
                    <span class="indicator">i</span>
                </section>
            </article>
        </main>
        <article class="empty-alert">
            <img src="/imgs/shipper/error-icon.png" alt="">
            <p>Você ainda não foi solicitado para nenhuma entrega</p>
        </article>
        <article class="notification-container"></article>
        <section class="popup info">
            <article class="popup-content">
                <article class="close">
                    <img src="/imgs/client/close-icon.svg" alt="">
                </article>
                <section class="popup-wrapper">
                    <h1>Informações da Entrega</h1>
                    <p><span class="title-type">Local de partida:</span> Rua José de Castilho</p>
                    <p><span class="title-type">Local de retirada:</span> Rua Carneiro Leão</p>
                    <p><span class="title-type">Peso:</span> 1.5 Kg</p>
                    <p><span class="title-type">Dimensões:</span> 200x200 cm</p>
                    <p><span class="title-type">Preço:</span> R$ 51,00</p>
                </section>
            </article>
        </section>

    <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/client/show-notification.js"></script>
    <script src="/JS/shipper/request.js"></script>
    <script src="/JS/shipper/popup-info.js"></script>
</body>
</html>