<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Histórico</title>
    <link rel="shortcut icon" href="../../imgs/logotca.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/index.css">
    <link rel="stylesheet" href="../../CSS/header-client-shipper.css">
    <link rel="stylesheet" href="../../CSS/client/price-indicator.css">
    <link rel="stylesheet" href="../../CSS/menu-burguer.css">
    <link rel="stylesheet" href="../../CSS/shipper/history.css">
    <link rel="stylesheet" href="../../CSS/shipper/requests.css">
    <link rel="stylesheet" href="../../CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="../../CSS/client/rate-popup.css">
    <link rel="stylesheet" href="../../CSS/client/popup-info.css">
</head>
<body>
    <div class="menu-burguer">
        <nav>
            <ul>
                <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                <li><a href="./chat.html">Chat</a></li>
                <li><a href="./ranking.html">Ranking</a></li>
                <li><a href="./resultados.html">Resultados</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="./configuracoes.html">Configurações</a></li>
            </ul>
        </nav>
    </div>
    
    <header>
        <div class="header-content">
            <h1><a href="../../index.html"><img class="logo" src="../../imgs/logotca.png"></a></h1>
            <nav class="nav-menu">
                <ul>
                    <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                    <li><a href="./chat.html">Chat</a></li>
                    <li><a href="./ranking.html">Ranking</a></li>
                    <li><a href="./resultados.html">Resultados</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="./perfil.html">
                        <li><img src="../../imgs/client/profile-icon.svg" alt=""></li>
                    </a>
                    <a href="./configuracoes.html">
                        <li><img src="../../imgs/client/config-icon.svg" alt=""></li>
                    </a>
                </ul>
            </nav>
            <div class="burguer">
                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/homepage__mobile_/u14.svg?pageId=474e0aac-b4ee-403d-9bc0-5e2c0892e3b4" alt="">
            </div>
        </div>
    </header>

    <main>
        <div class="history-header">
            <h1>Histórico</h1>
        </div>

        <div class="requests-container">
            <div class="card">
                <div class="top">
                    <div class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </div>
                    <div class="row track">
                        <img src="../../imgs/shipper/track.png" alt="">
                    </div>
                    <div class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </div>
                </div>
                <div class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </div>
                <div class="bottom">
                    <span class="price">R$51,00</span>
                </div>
                <div class="details">
                    <span class="indicator">i</span>
                </div>
            </div>
            <div class="card">
                <div class="top">
                    <div class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </div>
                    <div class="row track">
                        <img src="../../imgs/shipper/track.png" alt="">
                    </div>
                    <div class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </div>
                </div>
                <div class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </div>
                <div class="bottom">
                    <span class="price">R$51,00</span>
                </div>
                <div class="details">
                    <span class="indicator">i</span>
                </div>
            </div>
            <div class="card">
                <div class="top">
                    <div class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u12.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carlos José de Castilho</span>
                    </div>
                    <div class="row track">
                        <img src="../../imgs/shipper/track.png" alt="">
                    </div>
                    <div class="row">
                        <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u13.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                        <span>Rua Carneiro Leão</span>
                    </div>
                </div>
                <div class="weight">
                    <span>Pequena (até 15 Kg)</span>
                </div>
                <div class="bottom">
                    <span class="price">R$51,00</span>
                </div>
                <div class="details">
                    <span class="indicator">i</span>
                </div>
            </div>       
        </div>
    </main>
    <div class="popup info">
        <div class="popup-content">
            <div class="close">
                <img src="../../imgs/client/close-icon.svg" alt="">
            </div>
            <div class="popup-wrapper">
                <h1>Informações da Entrega</h1>
                <p><span class="title-type">Local de partida:</span> Rua José de Castilho</p>
                <p><span class="title-type">Local de retirada:</span> Rua Carneiro Leão</p>
                <p><span class="title-type">Peso:</span> 1.5 Kg</p>
                <p><span class="title-type">Dimensões:</span> 200x200 cm</p>
                <p><span class="title-type">Preço:</span> R$ 51,00</p>
            </div>
        </div>
    </div>
    
    <script src="../../JS/burguer.js"></script>
    <script src="../../JS/shipper/popup-info.js"></script>
</body>
</html>