<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Ranking</title>
    <link rel="shortcut icon" href="../../imgs/logotca.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/index.css">
    <link rel="stylesheet" href="../../CSS/home/home.css">
    <link rel="stylesheet" href="../../CSS/header-client-shipper.css">
    <link rel="stylesheet" href="../../CSS/menu-burguer.css">
    <link rel="stylesheet" href="../../CSS/home/switch.css">
    <link rel="stylesheet" href="../../CSS/shipper/ranking.css">
    <link rel="stylesheet" href="../../CSS/shipper/ranking-podium.css">
    <link rel="stylesheet" href="../../CSS/shipper/ranking-position.css">
    <link rel="stylesheet" href="../../CSS/shipper/ranking-table.css">
</head>
<body>
    <div class="menu-burguer">
        <nav>
            <ul>
                <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                <li><a href="./chat.html">Chat</a></li>
                <li><a href="./ranking.html">Ranking</a></li>
                <li><a href="./resultados.html">Resultados</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="./configuracoes.html">Configurações</a></li>
            </ul>
        </nav>
    </div>
    
    <header>
        <div class="header-content">
            <h1><a href="../../index.html"><img class="logo" src="../../imgs/logotca.png"></a></h1>
            <nav class="nav-menu">
                <ul>
                    <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                    <li><a href="./chat.html">Chat</a></li>
                    <li><a href="./ranking.html">Ranking</a></li>
                    <li><a href="./resultados.html">Resultados</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="./perfil.html">
                        <li><img src="../../imgs/client/profile-icon.svg" alt=""></li>
                    </a>
                    <a href="./configuracoes.html">
                        <li><img src="../../imgs/client/config-icon.svg" alt=""></li>
                    </a>
                </ul>
            </nav>
            <div class="burguer">
                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/homepage__mobile_/u14.svg?pageId=474e0aac-b4ee-403d-9bc0-5e2c0892e3b4" alt="">
            </div>
        </div>
    </header>

    <div class="switch">
        <input type="radio" name="change" id="all-time" checked>
        <label for="all-time">Geral</label>
        <input type="radio" name="change" id="month">
        <label for="month">Mês</label>
        <input type="radio" name="change" id="week">
        <label for="week">Semana</label>
        <span></span>
    </div>

    <main class="ranking">
        <div class="all-time show">
            <div class="ranking-podium">
                <div class="places first-place">
                    <div class="position">1.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-2.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">4.9 estrelas</p>
                    </div>
                </div>
                <div class="places second-place">
                    <div class="position">2.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-1.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">4.85 estrelas</p>
                    </div>
                </div>
                <div class="places third-place">
                    <div class="position">3.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-3.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">4.7 estrelas</p>
                    </div>
                </div>
            </div>
            <div class="ranking-position">
                <p class="position">Você está na posição #36 dos 1243 entregadores da plataforma</p>
            </div>
            
            <div class="ranking-table">
                <div class="row">
                    <div class="position">4.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.6 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">5.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.55 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">6.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.5 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">7.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.45 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">8.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.3 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">9.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.25 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">10.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.2 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">11.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.25 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">12.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">4.1 estrelas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="month">
            <div class="ranking-podium">
                <div class="places first-place">
                    <div class="position">1.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-1.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">4 estrelas</p>
                    </div>
                </div>
                <div class="places second-place">
                    <div class="position">2.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-3.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">3.5 estrelas</p>
                    </div>
                </div>
                <div class="places third-place">
                    <div class="position">3.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-2.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">3.25 estrelas</p>
                    </div>
                </div>
            </div>
            <div class="ranking-position">
                <p class="position">Você está na posição #20 dos 1243 entregadores da plataforma</p>
            </div>
            
            <div class="ranking-table">
                <div class="row">
                    <div class="position">4.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.2 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">5.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.15 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">6.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.1 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">7.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">8.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.9 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">9.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.8 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">10.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.7 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">11.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.6 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">12.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.5 estrelas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="week">
            <div class="ranking-podium">
                <div class="places first-place">
                    <div class="position">1.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-3.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">4.5 estrelas</p>
                    </div>
                </div>
                <div class="places second-place">
                    <div class="position">2.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-2.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">3.7 estrelas</p>
                    </div>
                </div>
                <div class="places third-place">
                    <div class="position">3.</div>
                    <div class="photo">
                        <img src="../../imgs/home/shipper/carousel-photo-1.jpg">
                    </div>
                    <div class="description">
                        <p class="name">Nome</p>
                        <p class="orders">3.5 entregas</p>
                    </div>
                </div>
            </div>
            <div class="ranking-position">
                <p class="position">Você está na posição #19 dos 1243 entregadores da plataforma</p>
            </div>
            
            <div class="ranking-table">
                <div class="row">
                    <div class="position">4.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.4 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">5.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.3 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">6.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.2 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">7.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3.1 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">8.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">3 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">9.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.9 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">10.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.8 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">11.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.7 estrelas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="position">12.</div>
                    <div class="row-info">
                        <div class="photo">
                            <img src="../../imgs/home/shipper/card-icon-1.svg">
                        </div>
                        <div class="description">
                            <p class="name">Nome</p>
                            <p class="orders">2.6 estrelas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="../../JS/burguer.js"></script>
    <script src="../../JS/switch-button.js"></script>
</body>
</html>