<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Resultados</title>
    <link rel="shortcut icon" href="../../imgs/logotca.png" type="image/x-icon">
    <link rel="stylesheet" href="../../CSS/index.css">
    <link rel="stylesheet" href="../../CSS/cta.css">
    <link rel="stylesheet" href="../../CSS/header-client-shipper.css">
    <link rel="stylesheet" href="../../CSS/menu-burguer.css">
    <link rel="stylesheet" href="../../CSS/shipper/results.css">
    <link rel="stylesheet" href="../../CSS/shipper/results-history.css">
    <link rel="stylesheet" href="../../CSS/shipper/results-rating.css">
    <link rel="stylesheet" href="../../CSS/client/confirm-popup.css">
    <!-- <link rel="stylesheet" href="../../CSS/client/rate-popup.css"> -->
    <link rel="stylesheet" href="../../CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="../../CSS/client/popup-info.css">
    <link rel="stylesheet" href="../../CSS/client/pay-popup.css">
    <link rel="stylesheet" href="../../CSS/client/report-popup.css">
    <link rel="stylesheet" href="../../CSS/client/cupon-popup.css">
</head>
<body>

    <div class="menu-burguer">
        <nav>
            <ul>
                <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                <li><a href="./chat.html">Chat</a></li>
                <li><a href="./ranking.html">Ranking</a></li>
                <li><a href="./resultados.html">Resultados</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="./configuracoes.html">Configurações</a></li>
            </ul>
        </nav>
    </div>
    
    <header>
        <div class="header-content">
            <h1><a href="../../index.html"><img class="logo" src="../../imgs/logotca.png"></a></h1>
            <nav class="nav-menu">
                <ul>
                    <li><a href="./entregas-solicitadas.html">Entregas Solicitadas</a></li>
                    <li><a href="./chat.html">Chat</a></li>
                    <li><a href="./ranking.html">Ranking</a></li>
                    <li><a href="./resultados.html">Resultados</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="./perfil.html">
                        <li><img src="../../imgs/client/profile-icon.svg" alt=""></li>
                    </a>
                    <a href="./configuracoes.html">
                        <li><img src="../../imgs/client/config-icon.svg" alt=""></li>
                    </a>
                </ul>
            </nav>
            <div class="burguer">
                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/homepage__mobile_/u14.svg?pageId=474e0aac-b4ee-403d-9bc0-5e2c0892e3b4" alt="">
            </div>
        </div>
    </header>   

    <main>
        <div class="results-container">
            <div class="results-header">
                <h1>Resultados</h1>
            </div>
            <div class="results-cards">
                <div class="cards cards-top">
                    <div class="card-header">
                        <h1>Dinheiro ganho</h1>
                        <div class="icon">
                            <img src="../../imgs/shipper/icon-profit.svg" alt="">
                        </div>
                    </div>
                    <div class="card-bottom">
                        <span class="money">R$500,00</span>
                        <div class="graph">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                            <span><span class="percentage up">25%</span> desde a última semana</span>
                        </div>
                    </div>
                </div>
                <div class="cards cards-top">
                    <div class="card-header">
                        <h1>Entregas Realizadas</h1>
                        <div class="icon">
                            <img src="../../imgs/shipper/icon-truck.svg" alt="">
                        </div>
                    </div>
                    <div class="card-bottom">
                        <span class="money">15 entregas</span>
                        <div class="graph">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                            <span><span class="percentage up">10%</span> desde a última semana</span>
                        </div>
                    </div>
                </div>
                <div class="cards cards-top">
                    <div class="card-header">
                        <h1>Visualizações no seu perfil</h1>
                        <div class="icon">
                            <img src="../../imgs/shipper/icon-views.svg" alt="">
                        </div>
                    </div>
                    <div class="card-bottom">
                        <span class="money">40 visitas</span>
                        <div class="graph">
                            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156" alt="">
                            <span><span class="percentage up">10%</span> desde a última semana</span>
                        </div>
                    </div>
                </div>
                <div class="cards card-history">
                    <div class="card-header">
                        <h1>Histórico de Entregas</h1>
                        <a href="./historico.html">Ver tudo</a>
                    </div>
                    <table>
                        <tr>
                            <td>Combinando</td>
                            <td>R. Carneiro Leão - R. Oscar</td>
                            <td>Pedro</td>
                            <td>R$14,00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. João C. - R. das Flores</td>
                            <td>Fernanda</td>
                            <td>R$20,00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. Tiradentes - R. das Olarias</td>
                            <td>Paulo</td>
                            <td>RS33,00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. Sta. Cruz - José Bonifácio</td>
                            <td>Eduardo</td>
                            <td>R$45.00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. 25 de Março - R. 3 de Abril</td>
                            <td>Lucas</td>
                            <td>R$23.00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. Carlos G. - R. Cacique</td>
                            <td>Igor</td>
                            <td>R$13.00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. João C. - R. das Flores</td>
                            <td>Fernanda</td>
                            <td>R$23.00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. João C. - R. das Flores</td>
                            <td>Paulo</td>
                            <td>R$13.00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. Sta. Cruz - José Bonifácio</td>
                            <td>Eduardo</td>
                            <td>R$45.00</td>
                        </tr>
                        <tr>
                            <td>Entregue</td>
                            <td>R. 25 de Março - R. 3 de Abril</td>
                            <td>Lucas</td>
                            <td>R$23.00</td>
                        </tr>
                    </table>
                </div>
                <div class="rating-cupon">
                    <div class="cards cards-top card-cupon">
                        <div class="card-header">
                            <h1>Cupons Ativos</h1>
                            <div class="icon">
                                <img src="../../imgs/shipper/cupon-icon.svg" alt="">
                            </div>
                        </div>
                        <div class="card-bottom">
                            <span class="money">0 Cupons</span>
                            <div class="action">
                                <span>Gerar Agora</span>
                            </div>
                        </div>
                    </div>
                    <div class="cards card-rating">
                        <div class="rating-header">
                            <h1>Avaliações</h1>
                            <div class="rating-controls">
                                <div class="back"><</div>
                                <div class="next">></div>
                            </div>
                        </div>
                        <div class="rating-container">
                            <div class="rating-carousel">
                                <div class="rating-content">
                                    <div class="content">
                                        <div class="header">
                                            <h1>Lucas</h1>
                                            <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
                                        <div class="stars">
                                            <img src="../../imgs/shipper/stars.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <h1>Pedro</h1>
                                            <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
                                        <div class="stars">
                                            <img src="../../imgs/shipper/stars.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <h1>Miguel</h1>
                                            <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
                                        <div class="stars">
                                            <img src="../../imgs/shipper/stars.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <h1>Renata</h1>
                                            <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
                                        <div class="stars">
                                            <img src="../../imgs/shipper/stars.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <h1>Fábio</h1>
                                            <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
                                        <div class="stars">
                                            <img src="../../imgs/shipper/stars.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <h1>Maria</h1>
                                            <img class="report-call" src="../../imgs/client/report-icon.svg" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet</p>
                                        <div class="stars">
                                            <img src="../../imgs/shipper/stars.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history-link">
                    <a href="./historico.html">Ver histórico da Entrega</a>
                </div>
            </div>
        </div>
    </main>

    <div class="notification-container"></div>

    <div class="popup report">
        <div class="popup-content">
            <div class="close">
                <img src="../../imgs/client/close-icon.svg" alt="">
            </div>
            <div class="popup-wrapper">
                <form class="form">
                    <h1>Denúncia</h1>
                    <label class="file-field" for="report-photo">
                        <input class="field" required type="file" name="files" id="report-photo">
                        <div class="icon">
                            <img src="../../imgs/cadastro-entregador/upload-icon.svg" alt="">
                        </div>
                        <span class="msg">Foto do Ocorrido</span>
                    </label>
                    <select required class="input-field field">
                        <option value="">Motivo da Denúncia</option>
                        <option value="1">Assédio ou Comportamento inadequado</option>
                        <option value="2">Problemas de Qualidade do Serviço</option>
                        <option value="3">Violar Regras do Site</option>
                        <option value="4">Suspeita de Fraude</option>
                        <option value="Outros">Outros</option>
                    </select>
                    <input placeholder="Motivo da Denúncia" class="report-reason input-field field" type="text">
                    <input required placeholder="Data do ocorrido" class="input-field field" type="text" onfocus="this.type='date'">
                    <textarea required class="rate-field field" placeholder="Descrição do ocorrido"></textarea>
                    <button class="cta">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="popup cupon">
        <div class="popup-content">
            <div class="close">
                <img src="../../imgs/client/close-icon.svg" alt="">
            </div>
            <div class="popup-wrapper">
                <h1>Cupom</h1>
                <div class="pay-field">
                    <input class="input-field" type="text" readonly="" value="MOTORISTA15">
                    <button type="button">Copiar</button>
                </div>
                <h2>Uso do cupom</h2>
                <canvas class="chart-cupon"></canvas>
            </div>
        </div>
    </div>

    <script src="../../JS/burguer.js"></script>
    <script src="../../JS/shipper/results-carousel.js"></script>
    <script src="../../JS/shipper/report-popup.js"></script>
    <script src="../../JS/client/show-notification.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../JS/shipper/cupons.js"></script>
</body>
</html>