<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Resultados</title>
    <%- include('../../partial/config/config.ejs') %>
    <%- include('../../partial/config/config-client-shipper.ejs') %>


    <!-- ! ver se vai alterar -->

    <link rel="stylesheet" href="/CSS/shipper/results.css">
    <link rel="stylesheet" href="/CSS/shipper/results-history.css">
    <link rel="stylesheet" href="/CSS/shipper/results-rating.css">
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/shipper/requests-notification.css">
    <link rel="stylesheet" href="/CSS/client/pay-popup.css">
    <link rel="stylesheet" href="/CSS/client/report-popup.css">
    <link rel="stylesheet" href="/CSS/client/cupon-popup.css">

    <!-- !  -->

</head>

<body>

    <%- include('../../partial/header-client-shipper.ejs', { isClient: false }) %>

        <main>
            <section class="results-container">
                <article class="results-header">
                    <h1>Resultados</h1>
                </article>
                <article class="results-cards">
                    <section class="cards cards-top">
                        <article class="card-header">
                            <h1>Dinheiro ganho</h1>
                            <article class="icon">
                                <img src="/imgs/shipper/icon-profit.svg" alt="">
                            </article>
                        </article>
                        <article class="card-bottom">
                            <span class="money">R$500,00</span>
                            <article class="graph">
                                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                    alt="">
                                <span><span class="percentage up">25%</span> desde a última semana</span>
                            </article>
                        </article>
                    </section>
                    <section class="cards cards-top">
                        <article class="card-header">
                            <h1>Entregas Realizadas</h1>
                            <article class="icon">
                                <img src="/imgs/shipper/icon-truck.svg" alt="">
                            </article>
                        </article>
                        <article class="card-bottom">
                            <span class="money">15 entregas</span>
                            <article class="graph">
                                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                    alt="">
                                <span><span class="percentage up">10%</span> desde a última semana</span>
                            </article>
                        </article>
                    </section>
                    <section class="cards cards-top">
                        <article class="card-header">
                            <h1>Visualizações no seu perfil</h1>
                            <article class="icon">
                                <img src="/imgs/shipper/icon-views.svg" alt="">
                            </article>
                        </article>
                        <article class="card-bottom">
                            <span class="money">40 visitas</span>
                            <article class="graph">
                                <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/area_do_entregador__desktop_/u142.svg?pageId=162fbb92-5d69-4bc4-b5d2-9ac969f79156"
                                    alt="">
                                <span><span class="percentage up">10%</span> desde a última semana</span>
                            </article>
                        </article>
                    </section>
                    <section class="cards card-history">
                        <article class="card-header">
                            <h1>Histórico de Entregas</h1>
                            <a href="/entregador/historico">Ver tudo</a>
                        </article>

                        <table>
                            <tr>
                                <td>Combinando</td>
                                <td>R. Carneiro Leão - R. Oscar</td>
                                <td>Pedro</td>
                                <td>R$14,00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. João C. - R. das Flores</td>
                                <td>Fernanda</td>
                                <td>R$20,00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. Tiradentes - R. das Olarias</td>
                                <td>Paulo</td>
                                <td>RS33,00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. Sta. Cruz - José Bonifácio</td>
                                <td>Eduardo</td>
                                <td>R$45.00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. 25 de Março - R. 3 de Abril</td>
                                <td>Lucas</td>
                                <td>R$23.00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. Carlos G. - R. Cacique</td>
                                <td>Igor</td>
                                <td>R$13.00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. João C. - R. das Flores</td>
                                <td>Fernanda</td>
                                <td>R$23.00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. João C. - R. das Flores</td>
                                <td>Paulo</td>
                                <td>R$13.00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. Sta. Cruz - José Bonifácio</td>
                                <td>Eduardo</td>
                                <td>R$45.00</td>
                            </tr>
                            <tr>
                                <td>Entregue</td>
                                <td>R. 25 de Março - R. 3 de Abril</td>
                                <td>Lucas</td>
                                <td>R$23.00</td>
                            </tr>
                        </table>
                    </section>

                    <section class="rating-cupon">
                        <section class="cards cards-top card-cupon">
                            <article class="card-header">
                                <h1>Cupons Ativos</h1>
                                <article class="icon">
                                    <img src="/imgs/shipper/cupon-icon.svg" alt="">
                                </article>
                            </article>
                            <article class="card-bottom">
                                <span class="money">0 Cupons</span>
                                <article class="action">
                                    <span>Gerar Agora</span>
                                </article>
                            </article>
                        </section>
                        <section class="cards card-rating">
                            <article class="rating-header">
                                <h1>Avaliações</h1>
                                <article class="rating-controls">
                                    <article class="back"><</article>
                                    <article class="next">></article>
                                </article>
                            </article>
                            <article class="rating-container">
                                <section class="rating-carousel">
                                    <article class="rating-content">
                                        <section class="content">
                                            <article class="header">
                                                <h1>Lucas</h1>
                                                <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                                            </article>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                                bibendum
                                                laoreet</p>
                                            <article class="stars">
                                                <img src="/imgs/shipper/stars.svg" alt="">
                                            </article>
                                        </section>
                                        <section class="content">
                                            <article class="header">
                                                <h1>Pedro</h1>
                                                <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                                            </article>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                                bibendum
                                                laoreet</p>
                                            <article class="stars">
                                                <img src="/imgs/shipper/stars.svg" alt="">
                                            </article>
                                        </section>
                                        <section class="content">
                                            <article class="header">
                                                <h1>Miguel</h1>
                                                <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                                            </article>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                                bibendum
                                                laoreet</p>
                                            <article class="stars">
                                                <img src="/imgs/shipper/stars.svg" alt="">
                                            </article>
                                        </section>
                                        <section class="content">
                                            <article class="header">
                                                <h1>Renata</h1>
                                                <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                                            </article>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                                bibendum
                                                laoreet</p>
                                            <article class="stars">
                                                <img src="/imgs/shipper/stars.svg" alt="">
                                            </article>
                                        </section>
                                        <section class="content">
                                            <article class="header">
                                                <h1>Fábio</h1>
                                                <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                                            </article>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                                bibendum
                                                laoreet</p>
                                            <article class="stars">
                                                <img src="/imgs/shipper/stars.svg" alt="">
                                            </article>
                                        </section>
                                        <section class="content">
                                            <article class="header">
                                                <h1>Maria</h1>
                                                <img class="report-call" src="/imgs/client/report-icon.svg" alt="">
                                            </article>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                                bibendum
                                                laoreet</p>
                                            <article class="stars">
                                                <img src="/imgs/shipper/stars.svg" alt="">
                                            </article>
                                        </section>
                                    </article>
                                </section>
                            </article>
                        </section>
                    </section>
                    <article class="history-link">
                        <a href="/entregador/historico">Ver histórico da Entrega</a>
                    </article>
                </article>
                </article>
                </article>
            </section>


        </main>

        <article class="notification-container"></article>

        <section class="popup report">
            <article class="popup-content">
                <section class="close">
                    <img src="/imgs/client/close-icon.svg" alt="">
                </section>
                <form class="popup-wrapper">
                    <h1>Denúncia</h1>
                    <label class="file-field" for="report-photo">
                        <input class="field" required type="file" name="files" id="report-photo">
                        <aside class="icon">
                            <img src="../../imgs/cadastro-entregador/upload-icon.svg" alt="">
                        </aside>
                        <span class="msg">Foto do Ocorrido</span>
                    </label>
                    <select required class="input-field field">
                        <option value="">Motivo da Denúncia</option>
                        <option value="1">Assédio ou Comportamento inadequado</option>
                        <option value="2">Problemas de Qualidade do Serviço</option>
                        <option value="3">Violar Regras do Site</option>
                        <option value="4">Suspeita de Fraude</option>
                        <option value="Outros">Outros</option>
                    </select>
                    <input placeholder="Motivo da Denúncia" class="report-reason input-field field" type="text">
                    <input required placeholder="Data do ocorrido" class="input-field field" type="text"
                        onfocus="this.type='date'">
                    <textarea required class="rate-field field" placeholder="Descrição do ocorrido"></textarea>
                    <button class="cta">Enviar</button>
                </form>
            </article>
        </section>

        <section class="popup cupon">
            <article class="popup-content">
                <section class="close">
                    <img src="/imgs/client/close-icon.svg" alt="">
                </section>
                <section class="popup-wrapper">
                    <h1>Cupom</h1>
                    <article class="pay-field">
                        <input class="input-field" type="text" readonly="" value="MOTORISTA15">
                        <button type="button">Copiar</button>
                    </article>
                    <h2>Uso do cupom</h2>
                    <canvas class="chart-cupon"></canvas>
                </section>
            </article>
        </section>

        <%- include('../../partial/menu-burguer.ejs', { type: 'shipper' }) %>

            <script src="/JS/burguer.js"></script>
            <script src="/JS/shipper/results-carousel.js"></script>
            <script src="/JS/shipper/report-popup.js"></script>
            <script src="/JS/client/show-notification.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="/JS/shipper/cupons.js"></script>
</body>

</html>