.content-container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content-container input, .content-container textarea {
    outline: none;
    width: 100%;
    padding: 8px;
    color: #333;
    border: solid 1px rgba(51, 51, 51, 0.18);
    border-radius: 5px;
    font-family: var(--font-2);
    font-size: 16px;
    
}
.content-container input:focus, .content-container textarea:focus {
    border-color: #3333336c;
}
.content-container textarea{
    height: 20rem;
    resize: none;

}
.content-container button{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}
.error {
    border-color: red !important;
}
.error-text {
    color: red !important;
}