.content-container a {
    color: #333;
}

.content-container .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content-container h1 {
    font-size: 32px;  
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 15px;
}

.grid-card {
    background-color: white;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grid-card h2 {
    font-size: 20px;
}

.grid-card p {
    font-family: var(--font-2);
}

.grid-card .content {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.grid-card .actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: auto;
}

.grid-card button {
    all: unset;
    cursor: pointer;
}

.notificador ul {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style: none;
}

.notificador a {
    border: 1px solid var(--blue);
    padding: 10px;
    transition: all .3s;
}

.notificador a:not(.atual):hover {
    background-color: var(--blue-2);
    border: 1px solid var(--blue-2);
    color: white;
}

.notificador .atual {
    background-color: var(--blue);
    color: white;
}