:root {
    --sidebar-color: #2C6493;
    --bg-color: #DBDEE3;
    --hover-color: #5682a7;
    /* --font-2: 600 .8em 'Inter', sans-serif; */
    --transition-1: .5s;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-1);
    
    display: flex;
}

.sidebar {
    width: 150px;
    height: 100vh;
    padding: 15px 5px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 1em;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    transition: var(--transition-1);
    font-size: .8em;
    font-weight: 700;
}

a {
    color: white;
}

.icons {
    font-size: 35px;
}

#show {
    display: none;
}

.header, .main-content, .footer {
    display: flex;
    flex-basis: content;
    width: 100%;
    flex-wrap: wrap;
}

.main-content {
    row-gap: .3em;
}

.main-content > a {
    display: block;
    width: 100%;
}

.home {
    display: flex;
	flex-basis: 100%;
}

.row {
    flex-basis: 100%;
    height: 50px;
	padding: 7px;
    border-radius: 7px;
    display: flex;
    column-gap: 1em;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-1);
}

.sidebar .footer > .row:nth-child(2) > .icon {
    transition: transform .3s;
}

.main {
    height: calc(100vh - (15px * 2 + 50px + 1em));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    row-gap: .3em;
}

.row:hover, #show:hover {
    background-color: var(--hover-color);
    color: white;
}

.sidebar.resized {
    width: 80px;
}

.sidebar.resized .row {
	flex-basis: 50px;
	padding: 0;
    transform: translatex(15px);
}

.sidebar.resized .row:hover {
	background-color: transparent;
    color: var(--bg-color);
}

.sidebar.resized .row > .text {
    display: none;
}

.sidebar.resized .footer > .row:nth-child(2) > .icon {
	transform: scaleX(-1);
}

@media (max-width: 650px), (max-height: 550px) {
    .sidebar {
        visibility: hidden;
        position: fixed;
        transform: translateX(-400px);
        transition: var(--transition-1);
    }
    .sidebar * {
        display: none;
    }
    #show {
        width: fit-content;
        height: fit-content;
        padding: 0;
        position: fixed;
        z-index: 1;
        background-color: var(--sidebar-color);
        padding: 15px;
        border-radius: 50%;
        transition: var(--transition-1);
    }
    #show, #show * {
        display: block;
        cursor: pointer;
    }
    .sidebar.active {
        visibility: visible;
        background-color: var(--sidebar-color);
        padding-top: 60px;
        border-radius: 0;
        transform: translateX(0);
        width: 150px;
        
    }
    .sidebar.active * {
        display: flex;
    }
    .sidebar.active > .main {
        justify-content: flex-start;
    }
    .sidebar.resized .row {
        flex-basis: auto;
    }
    .sidebar.active .row {
        width: 100%;
        padding: 7px;
        transform: translateX(0);
    }
    .sidebar.active .row > .text {
        display: block;
    }
    .sidebar.active .row:hover {
        background-color: var(--hover-color);
        color: white;
    }
    .sidebar.active .footer .row:nth-child(2) {
        display: none;
    }
}