header {
    background-color: var(--blue);
}
  
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 85px;
    margin: 0 auto;
}

header .burguer {
    display: none;
    position: relative;
    z-index: 10000;
}
  
header nav > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

header h1 {
    width: 40px;
}

h1 .logo {
    width: 100%;
}

.nav-menu > ul {
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
}

@media (max-width: 975px) {
    header nav > ul {
        display: none;
    }
    header .burguer {
        display: block;
    }
    .menu-burguer.active {
        translate: 0;
    }
}