<section class="popup description">
    <article class="popup-content">
        <article class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </article>
        <section class="popup-wrapper">
            <section class="description-profile">
                <h2>Perfil do entregador</h2>
                <img src="" alt="img entragador">
                <article style="text-align: left;">
                    <h2>Descrição</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolorum earum ullam corrupti.
                        Voluptatum asperiores culpa commodi eum recusandae animi sunt, architecto veniam eius totam quo.
                        Facere illo optio expedita.</p>
                    <h2>Tipo de veículo</h2>
                    <p>Lorem ipsum dolor sit</p>

                    <h2>Modelo de veículo</h2>
                    <p>Lorem ipsum dolor sit</p>

                    <h2>Raio de atuação</h2>
                    <p>Lorem ipsum dolor sit </p>
                </article>
            </section>
        </section>
    </article>
</section>