<section class="popup description">
    <article class="popup-content">
        <article class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </article>
        <section class="popup-wrapper">
            <section class="descriptionMgns">
                <span><b>Nome:</b> <%= user.assunto %></span> <br>
                <span><b>Email:</b><%= user.mensagem %></span> <br>
                <span><b>Assunto:</b><%= user.assunto %></span><br>
                <span><b>Mensagem:</b> <%= user.mensagem %></span>
            </section>
        </section>
    </article>
</section>