<section class="popup location">
    <article class="popup-content">
        <aside class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </aside>
        <section class="popup-wrapper">
            <section class="map-container">
                <div id="map"></div>
            </section>
            <section class="location-info">
                <section class="location_box">
                    <h1>Buscando produto</h1>
                    <button>30 mim</button>
                </section>
                <section class="container_bar_count">
                    <section class="bar_count count1"></section>
                    <section class="bar_count"></section>
                    <section class="bar_count"></section>
                    <section class="bar_count"></section>
                </section>
                <p>Previsão de chegada às 2:50PM</p>
                <section class="chat_entrega">
                    <h1>Entregador</h1>
                    <a href="http://localhost:3001/cliente/chat" class="img_chat">
                        <img src="../../imgs/home/client/card-icon-2.svg" alt="" class="">
                    </a>
                </section>
                <section class="descricao" onclick="toggleItens()">
                    <h3>Histórico ▼</h3>
                </section>
                <section class="itens">
                    <ul class="menu-container">
                        <li class="menu-item">
                            <section class="y-line"></section>
                            <section class="x-line"></section>    
                        </li>
                        <li class="menu-item">
                            <section class="y-line"></section>
                            <section class="x-line"></section>
                            
                        </li>
                        <li class="menu-item">
                            <section class="y-line"></section>
                            <section class="x-line"></section>
                            
                        </li>
                        <li class="menu-item">
                            <section class="y-line"></section>
                            <section class="x-line"></section>
                            
                        </li>
                        <li class="menu-item">
                            <section class="y-line"></section>
                            
                        </li>
                    </ul>
                </section>
            </section>
    </article>
</section>
</article>
</section>