<section class="popup location">
    <article class="popup-content">

        <aside class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </aside>

        <section class="popup-wrapper">
            <section class="map-container">
                <div id="map"></div>
            </section>
            <section class="location-info">
                conteudo
            </section>
        </section>
    </article>
</section>