<section class="popup">
    <section class="popup-content">
        <aside class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </aside>
        <section class="popup-wrapper">
            <h1>Avaliar o Motorista</h1>
            <aside class="stars">
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
            </aside>
            <textarea class="rate-field" placeholder="Deixe seu feedback aqui (opcional)"></textarea>
            <span class="error-container">Nenhuma estrela marcada!</span>
            <button class="cta">Enviar</button>
        </section>
    </section>
</section>