<section class="popup rate">
    <section class="popup-content">
        <aside class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </aside>
        <form action="" method="POST" class="popup-wrapper">
            <h1>Avaliar o Motorista</h1>
            <!--<aside class="stars">
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>1
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
                <aside class="star">
                    <aside class="star-form"></aside>
                </aside>
            </aside>!-->
            <textarea name="avaliacao" class="rate-field" placeholder="Deixe seu feedback aqui!"></textarea>
            <span class="error-container">Nenhuma estrela marcada!</span>
            <button class="cta">Enviar</button>
        </form>
    </section>
</section>