<section class="popup report">
    <section class="popup-content">
        <section class="close">
            <img src="/imgs/client/close-icon.svg" alt="">
        </section>
        <form action="" class="popup-wrapper" enctype="multipart/form-data">
            <h1>Denúncia</h1>
            <!-- <label class="file-field" for="report-photo">
                <input class="field" type="file" name="files" id="report-photo">
                <article class="icon">
                    <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                </article>
                <span class="msg">Foto do Ocorrido (Opcional)</span>
            </label> -->
            <select required class="input-field field">
                <option value="">Motivo da Denúncia</option>
                <option value="Assédio ou Comportamento inadequado">Assédio ou Comportamento inadequado</option>
                <option value="Problemas de Qualidade do Serviço">Problemas de Qualidade do Serviço</option>
                <option value="Violar Regras do Site">Violar Regras do Site</option>
                <option value="Suspeita de Fraude">Suspeita de Fraude</option>
                <option value="Outros">Outros</option>
            </select>
            <input placeholder="Motivo da Denúncia" class="report-reason input-field field" name="outros_motivos" type="text">
            <input required placeholder="Data do ocorrido" class="input-field field" type="text" name="data_ocorrido" onfocus="this.type='date'">
            <textarea required class="rate-field field" placeholder="Descrição do ocorrido" name="descricao_ocorrido"></textarea>
            <button class="cta">Enviar</button>
        </form>
    </section>
</section>