<footer>
    <div class="footer-content">
        <div class="logo-container">
            <div class="logo">
                <img src="/imgs/logotca.png">
            </div>
        </div>
        <div class="links-container">
            <div class="links-section services">
                <h1>Serviço</h1>
                <p><a href="">Usuário</a></p>
                <p><a href="">Motorista</a></p>
            </div>
            <div class="links-section company">
                <h1>Empresa</h1>
                <p><a href="">Conheça a Fretus</a></p>
                <p><a href="/ajuda">Central de Ajuda</a></p>            
                <p><a href="/FaleConosco">Fale Conosco</a></p>
            </div>
            <div class="links-section judiciary">
                <h1>Jurídico</h1>
                <p><a href="/Privacidade">Política de privacidade</a></p>
                <p><a href="/Privacidade">Termos e condições</a></p>
            </div>
            <div class="links-section follow-us">
                <h1>Siga-nos</h1>
                <div class="social-links">
                    <a href=""><img src="/imgs/home/footer-facebook.svg" alt=""></a>
                    <a href=""><img src="/imgs/home/footer-instagram.svg" alt=""></a>
                    <a href=""><img src="/imgs/home/footer-linkedin.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© FRETUS 2023. TODOS DIREITOS RESERVADOS</p>
    </div>
</footer>