<!-- <header>
    <a class="logo-container" href="/">
        <img class="logo" src="/imgs/logotca.png">
    </a>
    <nav class="nav-menu">
        <ul>
            <li>
                <a href="/ajuda">Central de ajuda</a>
            </li>
            <li>
                <a href="/FaleConosco">Fale Conosco</a>
            </li>
            <li>
                <a href="/login">Entrar</a>
            </li>
            <li>
                <a class="cta" href="/cadastro">Cadastre-se</a>
            </li>
        </ul>
        <section class="burguer">
            <img src="/imgs/burguer-fretus.svg" alt="">
        </section>
    </nav>
</header> -->

<section class="header">
    <section class="inner-header flex">
        <h1>Conheça a Fretus</h1>
        <p>A fretus é uma plataforma de entregas que conecta os clientes com os entregadores</p>
    </section>
    <section>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </section>
</section>