<header>
    <a class="logo-container" href="/">
        <img class="logo" src="/imgs/logotca.png">
    </a>
    <nav class="nav-menu">
        <ul> 
            <li>
                <a href="/ajuda">Central de ajuda</a>
            </li>
            <li>
                <a href="/FaleConosco">Fale Conosco</a>
            </li>
            <li>
                <a href="/login">Entrar</a>
            </li>
            <li>
                <a class="cta" href="/cadastro">Cadastre-se</a>
            </li>
        </ul>
        <section class="burguer">
            <img src="/imgs/burguer-fretus.svg" alt="">
        </section>
    </nav>
</header>