<% if (isClient) { %>
    <header>
        <section class="header-content">
            <a class="logo-container" href="/">
                <img class="logo" src="/imgs/logotca.png">
            </a>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/cliente/solicitar-entrega">Solicitar Entrega</a></li>
                    <li><a href="/cliente/chat">Chat</a></li>
                    <li><a href="/cliente/historico">Histórico</a></li>
                    <li><a href="/cliente/cupons">Cupons</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li>
                        <a href="/cliente/perfil/<%= autenticado.id%>">
                            <img src="/imgs/client/profile-icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/cliente/configuracoes">
                            <img src="/imgs/client/config-icon.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
            <section class="burguer">
                <img src="/imgs/burguer-fretus.svg" alt="">
            </section>
        </section>
    </header>
<% } else { %>
    <header>
        <section class="header-content">
            <a class="logo-container" href="/">
                <img class="logo" src="/imgs/logotca.png">
            </a>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/entregador/entregas-solicitadas">Entregas Solicitadas</a></li>
                    <li><a href="/entregador/chat">Chat</a></li>
                    <li><a href="/entregador/ranking">Ranking</a></li>
                    <li><a href="/entregador/resultados">Resultados</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li>
                        <a href="/entregador/perfil">
                            <img src="/imgs/client/profile-icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/entregador/configuracoes">
                            <img src="/imgs/client/config-icon.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
            <section class="burguer">
                <img src="/imgs/burguer-fretus.svg" alt="">
            </section>
        </section>
    </header>
<% } %>