<header>
    <h1><a href="."><img class="logo" src="imgs/logotca.png"></a></h1>
    <nav class="nav-menu">
        <ul> 
            <li><a href="/ajuda">Central de ajuda</a></li>
            <li><a href="./HTML/fale-conosco/FaleConosco.html">Fale Conosco</a></li>
            <li><a href="/login">Entrar</a></li>
            <a class="cta" href="/cadastro">
                <li>Cadastre-se</li>
            </a>
        </ul>
        <div class="burguer">
            <img src="https://files.axshare.com/gsc/NW3CCE/d7/2e/63/d72e6396c33043df9eca85714bda96d5/images/homepage__mobile_/u14.svg?pageId=474e0aac-b4ee-403d-9bc0-5e2c0892e3b4" alt="">
        </div>
    </nav>
</header>