<% if (type == 'home') { %>
    <nav class="menu-burguer">
        <section class="burguer">
            <img src="/imgs/burguer-fretus.svg" alt="">
        </section>
        <ul>
            <% if (autenticado) { %>
                <li><a href="/verificar-autenticacao">Acessar Conta</a></li>
                <li>
                    <form action="/sair" method="post">
                        <button class="logout-button">Sair</button>
                    </form>
                </li>
            <% } else { %>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/cadastro">Cadastrar</a></li>
            <% } %>
            <li><a href="/FaleConosco">Fale Conosco</a></li>
            <li><a href="/ajuda">Central de ajuda</a></li>
        </ul>
    </nav>
<% } else if (type == 'client') { %>
    <nav class="menu-burguer">
        <ul>
            <li><a href="/cliente/solicitar-entrega">Solicitar Entrega</a></li>
            <li><a href="/cliente/chat">Chat</a></li>
            <li><a href="/cliente/historico">Histórico</a></li>
            <li><a href="/cliente/cupons">Cupons</a></li>
            <li><a href="/cliente/perfil/<%= autenticado.id %>">Perfil</a></li>
            <li><a href="/cliente/configuracoes">Configurações</a></li>
        </ul>
    </nav>
<% } else if (type == 'shipper') { %>
    <nav class="menu-burguer">
        <ul>
            <li><a href="/entregador/entregas-solicitadas">Entregas Solicitadas</a></li>
            <li><a href="/entregador/chat">Chat</a></li>
            <li><a href="/entregador/ranking">Ranking</a></li>
            <li><a href="/entregador/resultados">Resultados</a></li>
            <li><a href="/entregador/perfil/<%= autenticado.id %>">Perfil</a></li>
            <li><a href="/entregador/configuracoes">Configurações</a></li>
        </ul>
    </nav>
<% } %>