.vehicles-container {
    margin: 0 auto;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vehicles-container>.vehicle-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.vehicles-container .card,
.vehicles-container .card-description {
    background-color: white;
    color: #333;
    transition: all .3s;
}

.vehicle-row>.card {
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vehicle-row>.card:not(.show) {
    opacity: 0.75;
}

.vehicle-row>.card>.img {
    width: 50%;
}

.vehicle-row>.card img {
    width: 100%;
}

.vehicle-description {
    flex-basis: 100%;
}

.vehicle-description>.card-description {
    position: relative;
    z-index: 100;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.vehicle-description>.card-description::before {
    content: "";
    display: block;
    border: solid white 15px;
    position: absolute;
    z-index: 50;
    top: -10px;
    transform: rotate(40deg);
}

.vehicle-description>.card-description:nth-child(2):before {
    right: 25px;
}

.vehicle-description>.card-description h1:last-of-type {
    margin-top: 4px;
}

.vehicle-description>.card-description p {
    margin: 2px 0 10px;
    margin-top: 10px;
}

.vehicle-description>.card-description:not(.show) {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.vehicle-description>.card-description.show {
   /*  height: 100%; */
    padding: 5%;
}

.container-f {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1;
    padding: 1.5%;
    width: calc(100% / 4);
}

.card-description h1,
.card-description p {
    font-size: 1.2rem;
}


#preco {
    font-size: 2rem;
    font-weight: bold;
}

.card-description h1,
.card-description p {
    font-size: 1.4rem;
}

@media (max-width: 800px) {
    .cell {
        width: 100%;
    }

    .card-description h1,
    .card-description p {
        font-size: 1.2rem;
    }

    #preco {
        font-size: 1.3rem;
    }

    .vehicle-description>.card-description {
        height: auto;
    }

    .vehicle-description>.card-description.show {
        height: auto;
    }

    @media(max-width:520px) {

        .container-f {
            flex-direction: column;
            padding: 1%;
        }

        .card-description h1,
        .card-description p {
            font-size: 1rem;
        }

    }
}