body {
    background-color: white;
    background-image: none;
}

.heading {
    font-size: clamp(36px, 3.5vw, 48px);
}

.hero {
    height: 50vh;
    background-image: url('../../imgs/help/bg-help.jpg');
    background-position: center;
}

.hero > section {
    height: calc(50vh - 100px);
}

.hero .search-bar {
    width: min(610px, 95%);
    position: relative;
    display: flex;
    flex-direction: column;
}

.search-bar > input {
    width: 100%;
    height: 45px;
    outline: none;
    padding: 10px;
    border: 1px solid var(--blue);
    border-radius: 24px;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    font-family: var(--font-2);
    font-size: 15px;
    color: #333;
    background-color: white;
}

.search-bar > input.border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar > input + .suggestions {
    display: none;
}

/* .search-bar > .suggestions, */
.search-bar > input.border + .suggestions {
    display: block;
    max-height: 240px;
    position: absolute;
    top: 45px;
    z-index: 100;
    width: 100%;
    background-color: white;
    border: 1px solid var(--blue);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: auto;
}

.search-bar a {
    color: #333;
    display: block;
    text-align: start;
    width: 100%;
    padding: 10px;
    transition: all .3s;
    display: none;
}

/* input.border + .suggestions a {
    display: block;
} */

.search-bar a.show {
    display: block;
}

.search-bar a:hover {
    background-color: rgba(149,157,165,0.2);
}

.search-bar ul {
    list-style: none;
}

section.blue-gradient {
    padding: 55px 10px;
}

section.blue-gradient > h1 {
    margin-bottom: 50px;
}

.cards-container {
    width: min(660px, 90%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cards-container > .card {
    width: 320px;
    padding: 18px;
    border-radius: 15px;
    background-color: white;
    color: #333;
    display: flex;
    gap: 12px;
    flex-direction: column;
    transition: opacity .3s;
}

.cards-container:hover > .card:not(:hover) {
    opacity: 0.5;
}

.card > .links-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card a {
    color: var(--blue);
}

.card a:hover {
    text-decoration: underline;
}

.link-section {
    background-color: white;
    color: #333;
    height: 450px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 0;
}

@media (max-width: 770px) {
    .cards-container > .card {
        width: 100%;
    }
}