main{
    width: 100vw;
    padding: 50px;
    color: #333;
    max-height: 100vh;
    overflow: auto;
}
.MensagerBox{
    margin: 30px 0;
}
.ContainerFaleConosco{
    color: #333;
    background-color: #fff;
    padding: 10px 20px ;
    border-radius: 10px;

}