main {
    width: 100vw;
    padding: 50px;
    color: #333;
    max-height: 100vh;
    overflow: auto;
}

.MensagerBox {
    margin: 30px 0;
}

.ContainerFaleConosco {
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;

}

.ContainerMensgns {
    background-color: #fff;
    min-height: 100px;
    width: 100%;
    padding: 20px 25px 10px 20px;
    border-radius: 10px;

}
.MensgnsBTN{
    display: flex;
    justify-content: end;
}
.MensgnsBTN button {
    background-color: orange;
    color: #fff;
}