<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Dados dos Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody id="clientesData">
            
        </tbody>
    </table>

    <h1>Dados dos Entregadores</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody id="entregadoresData">
            
        </tbody>
    </table>

    <script>
        fetch('/clientes')
            .then(response => response.json())
            .then(data => {
                const clientesData = document.getElementById('clientesData');
                data.forEach(cliente => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${cliente.nome}</td>
                        <td>${cliente.cpf}</td>
                        <td>${cliente.email}</td>
                        <td>${cliente.senha}</td>
                    `;
                    clientesData.appendChild(row);
                });
            });
        fetch('/entregadores')
            .then(response => response.json())
            .then(data => {
                const entregadoresData = document.getElementById('entregadoresData');
                data.forEach(entregador => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${entregador.nome}</td>
                        <td>${entregador.cpf}</td>
                        <td>${entregador.email}</td>
                        <td>${entregador.senha}</td>
                    `;
                    entregadoresData.appendChild(row);
                });
            });
    </script>
</body>
</html>
