<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Cadastro de Entregador</title>
    <%- include('../partial/config/config.ejs') %>
    <%- include('../partial/config/config-home.ejs') %>
    <link rel="stylesheet" href="/CSS/client/confirm-popup.css">
    <link rel="stylesheet" href="/CSS/client/pay-popup.css">
    <link rel="stylesheet" href="/CSS/cadastro-entregador/shipper-signin.css">
</head>
<body>
    
    <main class="hero">
        <%- include('../partial/header.ejs') %>
        <section>
            <aside class="popup show">
                <section class="popup-content">
                    <form action="/cadastro-entregador" method="post" class="popup-wrapper">
                        <div class="form active">
                            <section class="title">
                                <h2>Etapa 1 de 3</h2>
                                <h1>Verificando seus dados</h1>
                            </section>
                            <section class="form-fields">
                                <input name="nasc" required placeholder="Data de Nascimento" class="input-field" type="text" onfocus="this.type='date'">
                                <input name="tel" required id="tel" placeholder="Número de Telefone" class="input-field" type="text">
                                <select name="tipo_veiculo" required placeholder="Tipo de Veículo" class="input-field">
                                    <option value="">Tipo de Veículo</option>
                                    <option value="moto">Moto</option>
                                    <option value="carro">Carro</option>
                                    <option value="van">Van</option>
                                    <option value="caminhao">Caminhão</option>
                                </select>
                                <input name="modelo_veiculo" required placeholder="Modelo do Veículo" class="input-field" type="text">
                                <input name="placa_veiculo" required id="placa" placeholder="Placa do Veículo" class="input-field" type="text">
                            </section>
                            <section class="terms">
                                <input required type="checkbox" name="terms" id="terms">
                                <label for="terms">Eu concordo com os <a href="">Termos e Condições</a> e com a Política de Privacidade da Fretus</label>
                            </section>
                            <section class="btns">
                                <button class="cta yes" type="submit">Próxima Etapa</button>
                            </section>
                        </div>
                        <div class="form">
                            <section class="title">
                                <h2>Etapa 2 de 3</h2>
                                <h1>Enviando seus documentos</h1>
                            </section>
                            <section class="form-fields">
                                <label class="file-field" for="cnh">
                                    <input required type="file" name="cnh" id="cnh">
                                    <div class="icon">
                                        <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                                    </div>
                                    <span class="msg">PDF ou Foto da CNH</span>
                                </label>
                                <label class="file-field" for="vehicle-photo">
                                    <input required type="file" name="foto_veiculo" id="vehicle-photo">
                                    <div class="icon">
                                        <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                                    </div>
                                    <span class="msg">Foto do Veículo</span>
                                </label>
                            </section>
                            <section class="btns">
                                <button class="cta no" type="submit">Etapa Anterior</button>
                                <button class="cta yes" type="submit">Próxima Etapa</button>
                            </section>
                        </div>
                        <div class="form">
                            <section class="title">
                                <h2>Etapa 3 de 3</h2>
                                <h1>Criando seu Perfil</h1>
                            </section>
                            <section class="form-fields">
                                <input type="file" name="foto_perfil" id="profile">
                                <label class="file-field" for="profile">
                                    <div class="icon">
                                        <img src="/imgs/cadastro-entregador/upload-icon.svg" alt="">
                                    </div>
                                    <span class="msg">Foto de Perfil (opcional)</span>
                                </label>
                                <input name="raio_atuacao" required placeholder="Raio de atuação (em km)" class="input-field" type="text">
                                <textarea name="descricao" required class="input-field" placeholder="Descrição"></textarea>
                            </section>
                            <section class="btns">
                                <button class="cta no" type="submit">Etapa Anterior</button>
                                <button class="cta yes" type="submit">Enviar</button>
                            </section>
                        </div>
                    </form>
                </section>
            </aside>
        </section>
    </main>

    <%- include('../partial/menu-burguer.ejs', { type: 'home' }) %>

    <script src="/JS/burguer.js"></script>
    <script src="/JS/cadastro-entregador/form.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="/JS/cadastro-entregador/mask.js"></script>
</body>
</html>