<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fretus - Login</title>
  <link rel="shortcut icon" href="/imgs/logotca.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/CSS/index.css">
  <link rel="stylesheet" href="/CSS/login/login.css">
</head>

<body>
  <div class="fretus">
    <h1 class="logo-container"><a href="/"><img class="logo" src="/imgs/logotca.png"></a></h1>
  </div>
  <div class="container">
    <h1>Bem-vindo de volta! </h1>
    <form action="../cliente/solicitar-entrega.html" id="form">
      <div>
        <input type="email" placeholder="Email" class="inputs" autocomplete="off" oninput="emailValido()"
          id="inputEmail" required>
        <p id="messageEmail"></p>
      </div>
      <div class="box-icon">
        <div class="input__wrapper">
          <input id="password" type="password" class="input__field" pattern=".{8,}" placeholder="Senha"
            oninput="senhaValidada()" required>
          <p id="messageSenha"></p>
          <label for="password" class="input__label"></label>
          <img alt="Eye Icon" title="Eye Icon" src="/imgs/login-cadastro/eye-off.svg" class="input__icon">
        </div>
      </div>
      <p>
        Ainda não tem uma conta?
        <a href="/cadastro">Acesse aqui.</a>
      </p>
      <input type="submit" value="Entrar" id="entrar">
      <main>
        <div class="alternative">
          <span>ou</span>
        </div>
      </main>
      <div class="social-media">
        <a href="#" class="social-icon">
          <img src="/imgs/login-cadastro/icons8-google-logo.svg" width="45" height="45">
        </a>
        <a href="#" class="social-icon">
          <img src="/imgs/login-cadastro/icons8-facebook-novo.svg" width="45" height="45">
        </a>
        <a href="#" class="social-icon">
          <img src="/imgs/login-cadastro/icons8-linkedin.svg" width="45" height="45">
        </a>
      </div>
    </form>
  </div>
  <script src="/JS/login-cadastro/eye.js"></script>
  <script src="/JS/login-cadastro/validacao.js"></script>
</body>

</html>