<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus</title>
    <%# include('../partial/config/config.ejs') %>
    <%# include('../partial/config/config-home.ejs') %>
    <!-- <link rel="stylesheet" href="/CSS/home/switch.css">
    <link rel="stylesheet" href="/CSS/home/gray-gradient.css">
    <link rel="stylesheet" href="/CSS/home/cards-container.css">
    <link rel="stylesheet" href="/CSS/home/vehicles-container.css">
    <link rel="stylesheet" href="/CSS/home/carousel.css">
    <link rel="stylesheet" href="/CSS/home/accordion.css">
    <link rel="stylesheet" href="/CSS/home/mobile-carousel.css">
    <link rel="stylesheet" href="/CSS/home/form-container.css"> -->
</head>
<body>
    
    <main>
        <h1>Acesso Restrito</h1>
    </main>

    <%# include('../partial/footer.ejs') %>
    <%# include('../partial/menu-burguer.ejs', { type: 'home' }) %>


    <!-- <script src="/JS/burguer.js"></script> -->
</body>
</html>