<div id="show">
    <div class="icon">
        <span class="material-symbols-outlined">sort</span>
    </div>
</div>

<nav class="sidebar">
    <div class="header">
        <a href="/" class="close">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">close</span>
                </div>
                <div class="text">
                    <p>Fechar</p>
                </div>
            </div>
        </a>
        <a href="/admin" class="home">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">home</span>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </div>
        </a>
    </div>

    <div class="main">
        <div class="main-content">
            <a href="/admin/cadastroAdm">
                <div class="row">
                    <div class="icon icon_box">
                        <span class="material-symbols-outlined icons">
                            <svg width="87" height="87" viewBox="0 0 87 87" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M43.14 0C31.2765 0 21.57 12.0792 21.57 26.9625C21.57 41.8458 31.2765 53.925 43.14 53.925C55.0035 53.925 64.71 41.8458 64.71 26.9625C64.71 12.0792 55.0035 0 43.14 0ZM20.5993 53.925C9.16725 54.4642 0 63.8472 0 75.495V86.28H86.28V75.495C86.28 63.8472 77.2206 54.4642 65.6806 53.925C59.8568 60.5038 51.8759 64.71 43.14 64.71C34.4041 64.71 26.4233 60.5038 20.5993 53.925Z"
                                    fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="text">
                        <p>Usuários cadastrado</p>
                    </div>
                </div>
            </a>
            <a href="/admin/AdmFaleConosco">
                <div class="row">
                    <div class="icon icon_box">
                        <span class="material-symbols-outlined icons">
                            <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <rect width="90" height="90" fill="url(#pattern0_660_2)"/>
                                <defs>
                                <pattern id="pattern0_660_2" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_660_2" transform="scale(0.0111111)"/>
                                </pattern>
                                <image id="image0_660_2" width="90" height="90" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAABbklEQVR4nO3cPU5CQRhG4anEPWjlLtyDO1F0D1a4EnsX4U+lbsFErQ0kVuaYSSjQwnBHeLlwz9OTcE++zB0KvlIkSZIkaVsB+8AF8ADMaPcFvADXwPGmn6tXgEPg+R9x/4p+uenn69MkryPyotMydPPjYt0+gaMyZPMzOeGmDBkwJeekDFUw8raqN7B74BwYGTrjqd7QnOhc7O6THfpyu2Zs6Iw7Q2dMDR1i6BBDh6z214wkSdLKAHvAFfCWuhptsVdgUpu1hK4fVDeTltBOcnfvLaHVwNAhhg4xdIihQwwdYugQQ4cYOsTQIYYOMXSIoUMMHWLoEEOHGDrE0CGGDjF0iKFDDB1i6BBDhxg6xNAhhg4xdIihQwwdYugQQ4cYOsTQIYYOMXSPQyfXse2Kjz4vGGToq37qPjd1c9YSejRfMablPDb9c3ZhrbGxl4t80BT512SP6/njC/KHelm4rcdF8yRLkiRJkiRJUhmMb2LQuAkFOVc2AAAAAElFTkSuQmCC"/>
                                </defs>
                                </svg>
                                
                        </span>
                    </div>
                    <div class="text">
                        <p>Fale Conosco</p>
                    </div>
                </div>
            </a>
            <!-- <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">local_shipping</span>
                </div>
                <div class="text">
                    <p>Entregas</p>
                </div>
            </div> -->

           <!--  <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">chat</span>
                </div>
                <div class="text">
                    <p>Chat</p>
                </div>
            </div> -->

            <!-- <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">report</span>
                </div>
                <div class="text">
                    <p>Denuncias</p>
                </div>
            </div> -->

            <a href="/admin/ajuda">
                <div class="row">
                    <div class="icon">
                        <span class="material-symbols-outlined icons">help</span>
                    </div>
                    <div class="text">
                        <p>Ajuda</p>
                    </div>
                </div>
            </a>

        </div>
        <div class="footer">
            <form action="/sair" method="post">
                <button class="row">
                    <div class="icon">
                        <span class="material-symbols-outlined icons">logout</span>
                    </div>
                    <div class="text">
                        <p>Sair</p>
                    </div>
                </button>
            </form>

            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">left_panel_close</span>
                </div>
                <div class="text">
                    <p>Diminuir</p>
                </div>
            </div>
        </div>
    </div>
</nav>