<div id="show">
    <div class="icon">
        <span class="material-symbols-outlined">sort</span>
    </div>
</div>

<nav class="sidebar">
    <div class="header">
        <a href="/" class="home">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">home</span>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </div>
        </a>
    </div>

    <div class="main">
        <div class="main-content">
            <a href="/admin/cadastroAdm">
                <div class="row">
                    <div class="icon icon_box">
                        <span class="material-symbols-outlined icons">
                            <svg width="87" height="87" viewBox="0 0 87 87" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M43.14 0C31.2765 0 21.57 12.0792 21.57 26.9625C21.57 41.8458 31.2765 53.925 43.14 53.925C55.0035 53.925 64.71 41.8458 64.71 26.9625C64.71 12.0792 55.0035 0 43.14 0ZM20.5993 53.925C9.16725 54.4642 0 63.8472 0 75.495V86.28H86.28V75.495C86.28 63.8472 77.2206 54.4642 65.6806 53.925C59.8568 60.5038 51.8759 64.71 43.14 64.71C34.4041 64.71 26.4233 60.5038 20.5993 53.925Z"
                                    fill="white" />
                            </svg>
                        </span>
                    </div>
                    <div class="text">
                        <p>Usuários cadastrado</p>
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">local_shipping</span>
                </div>
                <div class="text">
                    <p>Entregas</p>
                </div>
            </div>

            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">chat</span>
                </div>
                <div class="text">
                    <p>Chat</p>
                </div>
            </div>

            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">report</span>
                </div>
                <div class="text">
                    <p>Denuncias</p>
                </div>
            </div>

            <a href="/admin/ajuda">
                <div class="row">
                    <div class="icon">
                        <span class="material-symbols-outlined icons">help</span>
                    </div>
                    <div class="text">
                        <p>Ajuda</p>
                    </div>
                </div>
            </a>

        </div>
        <div class="footer">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">account_circle</span>
                </div>
                <div class="text">
                    <p>Username</p>
                </div>
            </div>

            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">left_panel_close</span>
                </div>
                <div class="text">
                    <p>Diminuir</p>
                </div>
            </div>
        </div>
    </div>
</nav>