<nav class="sidebar">
    <div class="header">
        <a href="/" class="home">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">home</span>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </div>
        </a>
    </div>

    <div class="main">
        <div class="main-content">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">local_shipping</span>
                </div>
                <div class="text">
                    <p>Entregas</p>
                </div>
            </div>
            
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">chat</span>
                </div>
                <div class="text">
                    <p>Chat</p>
                </div>
            </div>

            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">report</span>
                </div>
                <div class="text">
                    <p>Denuncias</p>
                </div>
            </div>

            <a href="/admin/ajuda">
                <div class="row">
                    <div class="icon">
                        <span class="material-symbols-outlined icons">help</span>
                    </div>
                    <div class="text">
                        <p>Ajuda</p>
                    </div>
                </div>
            </a>

        </div>
        <div class="footer">
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">account_circle</span>
                </div>
                <div class="text">
                    <p>Username</p>
                </div>
            </div>
            
            <div class="row">
                <div class="icon">
                    <span class="material-symbols-outlined icons">left_panel_close</span>
                </div>
                <div class="text">
                    <p>Diminuir</p>
                </div>
            </div>
        </div>
    </div>
</nav>