<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin</title>
    <%- include('../../../partial/config/config.ejs') %>
        <%- include('../../../partial/config/config-adm.ejs') %>

            <link rel="stylesheet" href="/CSS/adm/CadastroAdm/detalhes&Novo_Adm.css">

</head>

<body>

    <%- include('../../../partial/adm/sidebar.ejs') %>

        <main>
            <section class="LinkUser">
                <a href="/admin/cadastroAdm/clientes">

                    <h3><- volta para página anterior </h3>

                </a>
            </section>

            <h2>Usuário - nome: </h2>
            <section class="containerDetealhes">
                <article class="DadosUserIMG">
                    <img src="/imgs/adm/incon_people.svg">
                </article>

                <% result.forEach(item=> { %>
                    <section class="ContainerAdm_Use">
                        <article class="boxDados">
                            <h3>Nome Usuário: </h3>
                            <p>
                                <%= item.nome_usuario %>
                            </p>
                        </article>

                    </section>
                <% }) %>

        </main>

        <script src="/JS/adm/resize.js"></script>
</body>

</html>