<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin - denuncias suspensas </title>
    <%- include('../../../partial/config/config.ejs') %>
    <%- include('../../../partial/config/config-adm.ejs') %>
    <link rel="stylesheet" href="/CSS/adm/CadastroAdm/cadastroadm.css">

</head>

<body>

    <%- include('../../../partial/adm/sidebar.ejs') %>
    <main>
        <section class="conteinerH1">
            <h1>Denúncias suspensas</h1>
        </section>

        <!-- <section class="container_cads">
            <a href="./cadastroAdm/clientes">
                <section class="container_box ">

                    
                    <h1>Denuncias Pendentes </h1>

                </section>
            </a>
            <a href="./cadastroAdm/entregador">
                <section class="container_box">

                    
                    <h1>Histórico de Denúncias (resolvidas) </h1>
                </section>
            </a>
            <a href="./cadastroAdm/entregador">
                <section class="container_box">

                    
                    <h1>Contas Suspensas</h1>
                </section>
            </a>
            <a href="./cadastroAdm/entregador">
                <section class="container_box">

                    
                    <h1>Usuários Bloqueadas </h1>
                </section>
            </a>
        </section> -->
    </main>


    <script src="/JS/adm/sidebar.js"></script>

</body>

</html>