<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fretus - Admin - denuncias pendentes </title>
    <%- include('../../../partial/config/config.ejs') %>
        <%- include('../../../partial/config/config-adm.ejs') %>
            <link rel="stylesheet" href="/CSS/adm/CadastroAdm/cadastroadm.css">

</head>

<body>

    <%- include('../../../partial/adm/sidebar.ejs') %>
        <main>
            <section class="conteinerH1">
                <h1>DENÚNCIAS PENDENTES</h1>
            </section>

            <section class="container_cads">
            
                    <section class="container_box ">

                        
                        <h1>MOTIVO: blá blá</h1>
                        <h1 class="data">Data: 10/10/2024</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae earum nesciunt aperiam facere magnam, quibusdam beatae illum. Consequatur molestias iusto architecto odit vero quae debitis ipsam! Atque aliquam sunt quis!</p>
                       

                    </section>

   
                    <section class="container_box">

                        
                        <h1>Histórico de Denúncias (resolvidas) </h1>
                    </section>
          
                    <section class="container_box">

                        
                        <h1>Contas Suspensas</h1>
                    </section>
               
                    <section class="container_box">

                        
                        <h1>Usuários Bloqueadas </h1>
                    </section>
        
                <!-- <a href="/CadastroAdm/CreateCadastroAdm">
                    <section class="container_box">
                        <img src="/imgs/adm/iconplu.svg" alt="">
                        <h1> Criar um novo Usuário </h1>
                    </section>
                </a> -->
            </section>
        </main>


        <script src="/JS/adm/sidebar.js"></script>


</body>

</html>